  <div class="panel-heading" data-provider="iplant_<%= id %>">
     <h4 class="panel-title">
       <div class="provider_controls">
        <input id="control_radio_button" type="radio" name="selected_identity" class="control_radio" value="<%= id %>" /> 
       </div>
       <a class="accordion-toggle" data-toggle="collapse" data-parent="#providers" href="#identity_<%= id %>" style="text-decoration:underline;">
          <%= provider_name %>
       </a>
     </h4>
  </div>

  <div id="identity_<%= id %>" class="panel-collapse collapse">
     <div class="panel-body">

        <div class="row">
           
           <div class="col-sm-6">

              <h3>Instances on <%= provider_name %></h3>
              <div id="instances_<%= id %>">
                 You have no instances running in the <%= provider_name %> cloud.
              </div>
              <h3>Instance Resource Usage on <%= provider_name %></h3>
              <div id="resource_usage_holder_iplant_<%= id %>">
                 <div id="cpuHolder"></div>
                 <div id="cpuHolder_info"></div>
                 <div id="memHolder"></div>
                 <div id="memHolder_info"></div>
                 <div id="allocationHolder"></div>
                 <div id="allocationHolder_info"></div>
              </div>
              </div>
              <div class="col-sm-6">
              <h3>Volumes on <%= provider_name %></h3>
              <div id="volumes_<%= id %>">
                 You have no volumes in the <%= provider_name %> cloud.
              </div>
              <h3>Volume Storage Usage on <%= provider_name %></h3>
              <div id="resource_usage_holder">
                 <div id="disk_countHolder"></div>
                 <div id="disk_countHolder_info"></div>
                 <div id="diskHolder"></div>
                 <div id="diskHolder_info"></div>
              </div>
              </div>
        </div>
     </div>
  </div>
