<img class="gravatar img-polaroid" src="https://www.gravatar.com/avatar/<%= email %>.jpg?s=50&d=identicon" alt="<%= id %>">
<h1><%= id %></h1>
<h2>Profile and Preferences</h2>
<hr>
<h2>Your Images</h2>
<table class="table image-table table-bordered">
	<thead>
		<tr>
			<td style="width: 40%">Image Name</td>
			<td style="width: 20%">Date Created</td>
			<td style="width: 40%">Actions</td>
		</tr>
	</thead>
	<tbody id="profile_image_list">
		<tr>
			<td colspan="3">Loading Images</td>
		</tr>
	</tbody>
</table>

<h2>Your Instance Launch History <small>This Month</small></h2>
<table class="table image-table table-bordered">
	<thead>
		<tr>
			<td style="width: 40%">Instance Name</td>
			<td style="width: 20%">Dates Running</td>
			<td style="width: 40%">Actions</td>
		</tr>
	</thead>
	<tbody id="profile_instance_list">
		<tr>
			<td colspan="3">Loading Instances</td>
		</tr>
	</tbody>
</table>

<hr>
<h1>Preferences</h1>
<h2>Cloud Identities</h2>

<!-- Accordion Container for Provider Summaries -->
<div class="panel-group" id="providers"></div>

<div class="bottom-half-settings">
<h2>Instance Launch</h2>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <form name="settings">
            <label class="checkbox" for="send_emails">
                <input type="checkbox" value="true" name="send_emails"> Receive email notification when instance finishes launching
            </label>
        </form>
    </div>
</div>
<h2>Appearance</h2>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
		<label for="icon_set">Image and Instance Icon Set</label>
		<ul class="list-inline" id="icon_set_icons" style="text-align: center">
			<li>
				<a href="#settings" class="thumbnail" data-iconset="default">
					<img src="https://www.gravatar.com/avatar/4dada4e6ac8298336c7063ae603ea86d?d=identicon&s=50" alt="Identicons" />
					<div class="caption"><h4>Identicons</h4></div>
				</a>
			</li>
			<li>
				<a href="#settings" class="thumbnail" data-iconset="retro">
					<img src="https://www.gravatar.com/avatar/45181758ca2dd4278b8246a170d3f4e5?d=retro&s=50" alt="Retro" />
					<div class="caption"><h4>Retro</h4></div>
				</a>
			</li>
			<li>
				<a href="#settings" class="thumbnail" data-iconset="robot">
					<img src="https://robohash.org/45181758ca2dd4278b8246a170d3f4e5?size=50x50" alt="Robot" />
					<div class="caption"><h4>Robots</h4></div>
				</a>
			</li>
			<li>
				<a href="#settings" class="thumbnail" data-iconset="unicorn">
					<img src="https://unicornify.appspot.com/avatar/45181758ca2dd4278b8246a170d3f4e5?&s=50" alt="Unicorn" />
					<div class="caption"><h4>Unicorns</h4></div>
				</a>
			</li>
			<li>
				<a href="#settings" class="thumbnail" data-iconset="monster">
					<img src="https://www.gravatar.com/avatar/45181758ca2dd4278b8246a170d3f4e5?d=monsterid&s=50" alt="Monster" />
					<div class="caption"><h4>Monsters</h4></div>
				</a>
			</li>
			<li>
				<a href="#settings" class="thumbnail" data-iconset="wavatar">
					<img src="https://www.gravatar.com/avatar/45181758ca2dd4278b8246a170d3f4e5?d=wavatar&s=50" alt="Wavatar" />
					<div class="caption"><h4>Wavatars</h4></div>
				</a>
			</li>
		</ul>
    </div>
</div>
</div>
