header {
    background-color: #0098aa;
    color: #fff;
    padding: 5px;
}

header img {
    margin-right: 7px;
}

header a {
    color: #fff;
}

header a:hover{
    color: #e6e6e6;
    text-decoration: none;
}

header a:hover img {
    opacity: .7;
}

#main {
    padding: 20px;
}

footer {
    text-align: center;
    margin: 3em 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #sidebar {
        position: fixed;
        top: 40px;
        left: 0;
        width: 250px;
        height: 100%;
    }

    #notifications {
        position: absolute;
        left: 0;
        right: 0;
        top: 16px;
        margin: 0 90px 0 340px;
    }

    #main {
        margin: 50px 50px 0 300px;
    }

    footer {
        width: 250px;
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
