B.DS_Store
*.class
.pyc
*.pyc
**.pyc
*~
celerybeat-schedule
flower.db
nohup.out
*.log
*.out
*.pot
*.json
.*
#*#
#*.*#
atmosphere/settings/local.py
atmosphere/settings/secrets.py
atmosphere/settings/secret_key.py
docs/*.org
logs/*
static/*
extras/euca/*
extras/goodies/*
extras/init.d/celeryd.default
extras/install-scripts/*
extras/sql/*
extras/ssh/*
extras/newrelic/*
extras/apache/atmo.conf
tests/secrets
n/service.log
n/service.err
config.yaml
local_settings.py
settings.py
djcelery.schedulers.DatabaseScheduler
