behave
behave-django
behaving
coverage
coveralls
django-debug-toolbar
django-jenkins
django-nose
emoji
factory-boy
flake8
GitPython
ipdb
ipython
mock
pep8
prospector
wheel
vcrpy
json_delta
freezegun
pathlib
vulture
yapf
