behave
behave-django
behaving
coverage
django-debug-toolbar  #NOTE: Profiles SQL/CPU time of requests real-time.
django-jenkins
django-nose
emoji
factory-boy
flake8
GitPython
ipdb
ipython
mock
pep8
wheel
vcrpy
json_delta
freezegun
pathlib
