Django==1.5
PIL==1.1.7
South==0.7.6
apache-libcloud==0.12.1
celery==3.0.16
django-celery-with-redis==3.0
django-nose2==0.1.1
djangorestframework==2.3.5
git+git://github.com/iPlantCollaborativeOpenSource/caslib.py.git#egg=caslib
git+git://github.com/iPlantCollaborativeOpenSource/euca2ools.git@1.3-maint#egg=euca2ools
httplib2==0.7.7
ipython==0.13.2
pep8==1.4.4
psycopg2==2.4.5
git+git://github.com/openstack/python-glanceclient.git#egg=python-glanceclient
git+git://github.com/openstack/python-keystoneclient.git#egg=python-keystoneclient
python-ldap==2.4.10
python-magic==0.4.3
git+git://github.com/openstack/python-novaclient.git#egg=python-novaclient
git+git://github.com/openstack/python-neutronclient.git#egg=python-neutronclient
pytz==2012j
redis==2.7.2
requests==1.1.0
git+git://github.com/jmatt/threepio.git#egg=threepio
git+git://github.com/iPlantCollaborativeOpenSource/rfive.git#egg=rfive
git+git://github.com/iPlantCollaborativeOpenSource/rtwo.git#egg=rtwo
