-e git+https://github.com/steve-gregory/billiard.git#egg=billiard # TEMPORARY

Django==1.10.6
django-cors-headers==0.12.0
django-sslserver #NOTE: Debugs requests real-time.
djangorestframework==3.6.2
djangorestframework-jsonp==1.0.2
djangorestframework-xml==1.3.0
djangorestframework-yaml==1.0.3
djangorestframework-csv
numpy
pandas
xlsxwriter
django-filter==1.0.1
django-redis-cache==0.13.0
redis==2.10.5
eventlet==0.18.4

Jinja2==2.8.1
celery>=4.0,<5.0
flower==0.9.0

gevent==1.0.1

apache-libcloud==0.20.1
requests[security]==2.11.1
python-dateutil
pytz==2016.2
Pillow==2.5.3
PyJWT==1.4.0

python-logstash==0.4.5

#Theirs
psycopg2==2.5.4
python-ldap==2.4.19
uWSGI==2.0.13

## ours
chromogenic
django-cyverse-auth
threepio
rtwo
subspace
