Django==1.8.5
django-cors-headers==0.12.0
djangorestframework==3.3.2
djangorestframework-jsonp==1.0.0
djangorestframework-xml==1.0.1
djangorestframework-yaml==1.0.2
django-filter==0.10.0
django-redis-cache==0.13.0
redis==2.10.3

Jinja2==2.8
celery==3.1.18
django-celery==3.1.16

gevent==1.0.1

apache-libcloud==0.20.1
requests==2.9.1
python-dateutil==1.4.1
pytz==2015.4
Pillow==2.5.3
PyJWT==1.4.0

python-logstash==0.4.5

#Theirs
psycopg2==2.5.4
python-ldap==2.4.19
uWSGI==2.0.9

## ours
django-iplant-auth==0.1.9
threepio==0.2.0
rtwo==0.3.8
caslib.py==2.2.2
chromogenic==0.1.22
subspace==0.1.6
