
business_rules
colorama # used by ./configure
django
django-cors-headers
django-sslserver #NOTE: Debugs requests real-time.
djangorestframework
djangorestframework-jsonp
djangorestframework-xml
djangorestframework-yaml
djangorestframework-csv
numpy
pandas
xlsxwriter
django-filter
django-redis-cache
itsdangerous
redis
eventlet
enum34

Jinja2
django-celery-beat
celery==4.0.2
billiard
flower

gevent

apache-libcloud
requests[security]
python-dateutil
pytz
Pillow
PyJWT

python-logstash
django-memoize
#Theirs
psycopg2
python-ldap
uWSGI

## ours
chromogenic
django-cyverse-auth
threepio
rtwo
subspace

raven
newrelic
