[COMMON]
SERVER_URL =
LDAP_SERVER =
LDAP_SERVER_DN =
TOKEN_EXPIRY_TIME_DAYS =
DJANGO_SERVER_URL =


[apache2]
MYSHORTNAME =
MYHOSTNAMEHERE =
PATH_TO_ATMOSPHERE =
PATH_TO_TROPOSPHERE =
BASECERTHERE =
KEYHERE =
BUNDLECERTHERE =

[nginx]
ATMOSPHERE_PATH =
BUNDLE_FILE =
CERT_DIR =
CERT_FILE =
COMBINED_CERT_FILE =
COMBINED_CERT_PATH =
DHPARAM =
KEY_FILE =
KEY_PATH =
KEY_SIZE =
LEADERBOARD_URL =
LOCATIONS_DIR =
SITES_ENABLED_DIR =
SITES_AVAILABLE_DIR =
SERVER_URL =
VIRTUALENV_PATH =

[uwsgi.ini]
LOCAL_DEV =
PATH_TO_ATMOSPHERE =
VIRTUALENV_PATH =
UWSGI_USER =
UWSGI_GROUP =
UWSGI_LOG_PATH =

[local.py]
ANSIBLE_ROOT =
TOKEN_EXPIRY_TIME_DAYS =
LOGOUT_REDIRECT_URL =
CAS_AUTH_PREFIX =
CAS_SERVER =
LDAP_SERVER =
LDAP_SERVER_DN =
JWT_INSTALL =
JWT_PUBLIC_KEY =
JWT_CLIENT_KEY =
JWT_CLIENT_SECRET =
GLOBUS_OAUTH_ID =
GLOBUS_OAUTH_SECRET =
GLOBUS_OAUTH_SCOPE =
GLOBUS_OAUTH_CREDENTIALS_SCOPE =
GLOBUS_OAUTH_ATMOSPHERE_SCOPE =
GLOBUS_TOKENINFO_URL =
GLOBUS_TOKEN_URL =
GLOBUS_AUTH_URL =
OAUTH_CLIENT_KEY =
OAUTH_CLIENT_SECRET =
DATABASE_NAME =
DATABASE_ENGINE =
DATABASE_USER =
DATABASE_CONN_MAX_AGE =
DATABASE_PASSWORD =
DATABASE_HOST =
DATABASE_PORT =
DJANGO_DEBUG =
ENFORCING =
DJANGO_JENKINS =
DJANGO_TEMPLATE_DEBUG =
DJANGO_SERVER_URL =
LOG_LIBCLOUD =
LOGGING_LEVEL =
LOGGING_DEP_LEVEL =
LOGSTASH_HOST =
LOGSTASH_PORT =
METRIC_SERVER =
SELF_SIGNED_CERT =
TEST_RUNNER =
TEST_RUNNER_USER =
TEST_RUNNER_PASS =
MOCK_USER =
USE_MOCK_AUTH =

[secrets.py]
IRODS_HOST =
IRODS_PORT =
IRODS_ZONE =
IRODS_ADMIN_USER =
IRODS_ADMIN_PASS =
LOCAL_STORAGE =
OPENSTACK_PROVIDER_KEY =
OPENSTACK_ADMIN_KEY =
OPENSTACK_ADMIN_SECRET =
OPENSTACK_AUTH_URL =
OPENSTACK_ADMIN_TENANT =
OPENSTACK_DEFAULT_REGION =
OPENSTACK_DEFAULT_ROUTER =
OPENSTACK_USER_ROLE =
OPENSTACK_ADMIN_ROLE =
ATMOSPHERE_SUPERUSER =
ATMOSPHERE_VNC_LICENSE =

[celeryd.default]
VIRTUAL_ENV_ATMOSPHERE=
ATMOSPHERE_LOCATION=
SSL_LOCATION=
SSL_CERTIFICATE=
SSL_KEY=
