[COMMON]
; Examples of each are listed behind the ;
SERVER_URL = ; https://www.my-website.com
LDAP_SERVER = ; ldap://my.ldap.com
LDAP_SERVER_DN = ; ou=example,dc=org
TOKEN_EXPIRY_TIME_DAYS = ; 1
DJANGO_SERVER_URL = ; https://www.my-website.com
VIRTUALENV_PATH =; /path/virtualenv/atmo

[nginx]
ATMOSPHERE_PATH = ; /path/to/atmosphere
ENABLE_HTTP2 = ; True if nginx has http-v2 module; otherwise False
NGINX_TLS_PRIVKEY_DEST = ; /etc/ssl/private/mydomain.org.key
NGINX_TLS_FULLCHAIN_DEST = ; /etc/ssl/certs/mydomain.org.fullchain.crt
DHPARAM = ; /etc/ssl/certs/dhparam.pem
DHPARAM_KEY_SIZE = ; 2048
LOCATIONS_DIR = ; /etc/nginx/locations
SITES_ENABLED_DIR = ; /etc/nginx/sites-enabled
SITES_AVAILABLE_DIR = ; /etc/nginx/sites-available
SERVER_URL = ; www.my-website.com

[uwsgi.ini]
LOCAL_DEV = ; False
PATH_TO_ATMOSPHERE = ; /path/to/atmosphere
UWSGI_USER = ; www-data
UWSGI_GROUP = ; www-data
UWSGI_LOG_PATH = ; /var/log/uwsgi/atmosphere_uwsgi.log

[local.py]
AUTH_USE_OVERRIDE = ; True will override authentication set in __init__.py
AUTH_MOCK_USER = ; testuser
AUTH_ENABLE_MOCK = ; True
AUTH_ENABLE_GLOBUS = ; False
AUTH_ENABLE_CAS = ; False
AUTH_ENABLE_LDAP = ; False
AUTH_ENABLE_JWT = ; False
AUTH_ENABLE_OPENSTACK = ; False
ANSIBLE_ROOT = ; /path/to/atmosphere-ansible
LOGOUT_REDIRECT_URL = ; /logout
CAS_AUTH_PREFIX = ; /
CAS_SERVER = ; https://cas.server.com
LDAP_SERVER = ; ldap://my.ldap.com
LDAP_SERVER_DN = ; ou=example,dc=org
JWT_INSTALL = ; False
JWT_PUBLIC_KEY = ; /path/to/b64_key.pub
JWT_CLIENT_KEY = ; client_key
JWT_CLIENT_SECRET = ; client_secret
GLOBUS_OAUTH_ID = ; globus_key
GLOBUS_OAUTH_SECRET = ; globus_secret
GLOBUS_OAUTH_SCOPE = ; scope_one
GLOBUS_OAUTH_CREDENTIALS_SCOPE = ; scope_two
GLOBUS_OAUTH_ATMOSPHERE_SCOPE = ; scope_three
GLOBUS_TOKENINFO_URL = ; https://globus.server.org/token_details
GLOBUS_TOKEN_URL = ; https://globus.server.org/token
GLOBUS_AUTH_URL = ; https://globus.server.org/authorize
OAUTH_CLIENT_KEY = ; oauth_key
OAUTH_CLIENT_SECRET = ; oauth_secret
KEYSTONE_SERVER = ; "https://my-openstack.cloud.org:5000"
KEYSTONE_DOMAIN_NAME = ; "default"
DATABASE_NAME = ; atmosphere_db
DATABASE_ENGINE = ; django.db.backends.postgresql_psycopg2
DATABASE_USER = ; psql_user
DATABASE_CONN_MAX_AGE = ; 60
DATABASE_PASSWORD = ; psql_password
DATABASE_HOST = ; localhost
DATABASE_PORT = ; 5432
DJANGO_DEBUG = ; True
ENFORCING = ; False ;NOTE: DO NOT SET TO TRUE UNLESS YOU ARE PRODUCTION!
DJANGO_JENKINS = ; False
DJANGO_TEMPLATE_DEBUG = ; True
LOG_LIBCLOUD = ; False
LOGGING_LEVEL = ; logging.INFO
LOGGING_DEP_LEVEL = ; logging.WARNING
LOGSTASH_HOST = ; logstash.server.com
LOGSTASH_PORT = ; 8000
METRIC_SERVER = ; atmosphere-metrics.server.com
SELF_SIGNED_CERT = ; False
TEST_RUNNER = ; custom.test_runner
TEST_RUNNER_USER = ; test_user
TEST_RUNNER_PASS = ; test_secret
MOCK_USER = ; test_user
USE_MOCK_AUTH = ; False
#local.py - site configuration
USE_JETSTREAM_PLUGIN = ; False
USE_ALLOCATION_SOURCE = ; False
TIME_ZONE = ; America/Phoenix
SITE_NAME = ; CyVerse
ORG_NAME = ; CyVerse
MAINTENANCE_EXEMPT_USERNAMES = ; ['test1','test2'] -- a list of usernames that will be exempt from Maintenance
ADMINS_EMAIL_TUPLE = ; [('Atmosphere Admin', 'atmo-admin@website.com'),('System Admins', 'sys-admin@website.com')]
ATMO_SUPPORT_EMAIL_TUPLE = ; [('Different Email for Request Tracking', 'rt@website.com'),('System Admins', 'sys-admin@website.com')]
SERVER_EMAIL = ; help@website.org
SUPPORT_EMAIL = ; help@website.org
SUPPORT_EMAIL_SIGNATURE = ; CyVerse Atmosphere Team
SUPPORT_LINKS = ; {'getting_started': "https://link_to.wiki.org/Using+Instances", 'new_provider': "https://link_to.wiki.org/Changing+Providers", "faq": "https://link_to.wiki.org/Cloud_FAQ"}
REPLICATION_PROVIDER_LOCATION = ; iPlant Cloud - Tucson
MONTHLY_RESET_PROVIDER_LOCATIONS = ; ['iPlant Cloud - Tucson']
USER_EMAIL_LOOKUP_METHOD = ; ldap_get_email_info
EMAIL_LOOKUP_METHOD = ; ldapLookupEmail
DEFAULT_EMAIL_DOMAIN = ; iplantcollaborative.org
DEFAULT_ALLOCATION_THRESHOLD = ; (7 * 24 * 60)  # In Minutes
DEFAULT_ALLOCATION_DELTA = ; (365 * 24 * 60)  # In Minutes
DEFAULT_QUOTA = ; {'cpu': 16, 'memory': 128, 'storage': 10}
DEFAULT_KEYSTONE_ROLE = ; _member_
DEFAULT_IP_LOOKUP = ; 'iplant_hostname'
DEFAULT_PASSWORD_UPDATE = ; 'keystone_password_update', 'openstack_sdk_password_update'
INSTANCE_HOSTNAMING_DOMAIN = ; iplantcollaborative.org
INSTANCE_HOSTNAMING_FORMAT = ; vm%(three)s-%(four)s.%(domain)s
DEPLOYMENT_KEYPAIR_NAME = ; keypair name inject by atmo-ansible during instance deploy
VALIDATION_PLUGINS = ; ["atmosphere.plugins.auth.validation.AlwaysAllow"]

#NOTE: Jetstream Specific
TACC_API_USER = ; "tas-username"
TACC_API_PASS = ; "tas-password"
TACC_API_URL  = ; "/path to api/"

#NOTE: Their are *REQUIRED* quotations around 'timedelta(..)'!
CELERYBEAT_SCHEDULE = ; {"monitor_instances": {"schedule": 'timedelta(minutes=5)',}}

[secrets.py]
IRODS_HOST = ; irods.server.com
IRODS_PORT = ; 8000
IRODS_ZONE = ; irods_zone
IRODS_ADMIN_USER = ; irods_user
IRODS_ADMIN_PASS = ; irods_password
LOCAL_STORAGE = ; /storage
CHROMO_DEPLOYMENT_KEY = ; ssh-rsa AAA... example@deploykey.com
CHROMO_EXTRA_IMAGE_METADATA = ; Example {"key1": "value1", "key2": "yes"}
ATMOSPHERE_SUPERUSER = ; atmo_superuser
ATMOSPHERE_SECRET_SEED = ; (Random value:) 9oe5q7cp714zmmjl51
ATMOSPHERE_VNC_LICENSE = ; vnc_license_key

[celeryd.default]
ATMOSPHERE_LOCATION= ; /path/to/atmosphere
SSL_LOCATION= ; /etc/ssl
SSL_CERTIFICATE= ; selfsigned_server.crt
SSL_KEY= ; selfsigned_server.key
USE_PRODUCTION= ; True
FLOWER_AUTH_SCHEME=; "basic" or "google"
# if flower_auth_opt == 'basic'
FLOWER_BASIC_USERNAME= ; username
FLOWER_BASIC_PASSWORD= ; password
# elif flower_auth_opt == 'google'
FLOWER_EMAIL_ACCESS_LIST= ; "me@gmail.com|you@gmail.com"
FLOWER_OAUTH2_CLIENT_ID= ; "123xyz.apps.googleusercontent.com"
FLOWER_OAUTH2_CLIENT_SECRET= ; "client_secret_here"
FLOWER_OAUTH2_REDIRECT_URI= ; "server_redirect_url/flower/login"
