[apache2]
MYSHORTNAME = 
MYHOSTNAMEHERE = 
PATH_TO_ATMOSPHERE = 
PATH_TO_TROPOSPHERE = 
BASECERTHERE = 
KEYHERE = 
BUNDLECERTHERE = 

[nginx]
ATMOSPHERE_PATH = 
BUNDLE_FILE = 
CERT_DIR = 
CERT_FILE = 
COMBINED_CERT_FILE = 
COMBINED_CERT_PATH = 
DHPARAM = 
KEY_FILE = 
KEY_PATH = 
KEY_SIZE = 
LEADERBOARD_URL = 
LOCATIONS_DIR = 
SITES_ENABLED_DIR = 
SITES_AVAILABLE_DIR = 
SERVER_URL = 
VIRTUALENV_PATH = 

#[local.py]
#ALL_THE_THINGS = Actual_Value