<div class="row">
<div class="col-sm-4">

    <div id="image_header">
        <h1>Select an Image
        <a class="context-helper" id="help_image"><i class="glyphicon glyphicon-question-sign"></i></a>
        </h1>
    </div>

    <div id="image_search_holder">
        <div id="image_search_input" class="">
            <!--<div class="col-sm-11">-->
              <input id="image_search" type="text" placeholder='Search by name, emi, tag, description.' name="image_search" spellcheck="false" x-webkit-speech x-webkit-grammar="builtin:search" lang="en" class="form-control"></input>
            <!--</div>-->
            <!--<div class="col-sm-1">-->
               <a class="context-helper" id="help_image_search"><i class="glyphicon glyphicon-question-sign"></i></a>
            <!--</div>-->
        </div>
    </div>

    <div id="image_holder">
        <h2>Featured Images</h2>
        <ul class="image_list" id="featured_image_list"></ul>
        <h2>Other Images</h2>
        <ul class="image_list" id="misc_image_list"></ul>
    </div>
</div>

<div class="col-sm-8" style="overflow: auto" id="selected_image">

    <h2>My Projected Resource Usage
        <a class="context-helper" id="help_resource_usage_newinst"><i class="glyphicon glyphicon-question-sign"></i></a>
        <a class="context-helper" id="help_request_more_resources2"><i class="glyphicon glyphicon-tasks"></i> Request More Resources</a>
    </h2>
    <div class="row" id="resource_usage_holder">

        <div class="col-sm-4">
            <div id="allocationHolder"></div>
            <div id="allocationHolder_info"></div>
        </div>
        <div class="col-sm-4">
            <div id="cpuHolder"></div>
            <div id="cpuHolder_info"></div>
        </div>
        <div class="col-sm-4">
            <div id="memHolder"></div>
            <div id="memHolder_info"></div>
        </div>
    </div>

    <hr />

    <div id="image_customlaunch">

        <div id="selected_image_icon_container">
            <i class="glyphicon glyphicon-arrow-left"></i>
            <br />
            Select Image
        </div>
		<div style="float: right"> 
				<input class="btn btn-primary btn-large" id="launchInstance" style="margin-left: 25px; margin-right: 10px" type="submit" value="Launch Instance" disabled="disabled" />
		</div>

        <h2>Configuration <div id="newinst_name_title"></div></h2>
        <p>First, select an image on the left. Then you can re-name it, change its size, or tag it.</p>
        <br style="clear: both" />
        <form class="form-horizontal">
            <input type="hidden" id="newinst_image_id" name="image_id"/>
            <div class="form-right">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="name">Name</label>
                    <div class="col-sm-5">
                        <input class="form-control" type="text" id="newinst_name" name="name"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label" for="description">Description</label>
                    <div class="col-sm-10">
                        <div style="padding-top:7px" id="selected_image_description">Select an image from the list to view its description.</div>
                    </div>
                </div>


                <div class="form-group">
                    <label class="col-sm-2 control-label">
                        Instance Size
                    </label>
                    <div class="col-sm-5">
                        <select class="form-control" id="newinst_size" name="newinst_size"></select>
                    </div>
                </div>
            </div>

            <hr />

            <div class="form-group">
                <div class="controls">
                    <h3><a style="width: 100%; text-align: left" data-toggle="collapse" data-target="advanced_options">
                        Advanced Options <span class="caret" style="float: right"></span>
                    </a></h3>
                </div>
            </div>
            <div class="collapse" id="advanced_options">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="owner">Owner</label>
                    <div class="col-sm-10">
                        <input class="form-control" disabled="disabled" type="text" id="newinst_owner" name="owner"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="createdate">Built On</label>
                    <div class="col-sm-10">
                        <input class="form-control" disabled="disabled" type="text" id="newinst_createdate" name="createdate"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="tags">Image Tags</label>
                     <div class="col-sm-10">
                        <div style="padding-top:5px" id="newinst_tags">
                        </div>
                     </div>
                 </div>
                 <% if (is_staff == true ) { %>
                 <!-- show this dropdown only when is_staff == true -->
                <div class="form-group">
                    <label class="col-sm-2 control-label"> Instance Compute Node (Staff Only) </label>
                    <div class="col-sm-5">
                        <select class="form-control" id="newinst_hypervisor" name="newinst_hypervisor"></select>
                    </div>
                </div>
                <% } %>

            </div>		

			<!--
            <div class="form-actions">
                <input class="btn btn-primary" id="launchInstance" type="submit" value="Launch" disabled="disabled" />
            </div>
			-->
        </form>
    </div>

</div>
</div>
