# App instance to use
CELERY_APP="atmosphere"

# Atmosphere setup ALWAYS includes Queues/Workers for:
#   * imaging
#   * celery_periodic
#   * email

#############
# Development Settings (Single-Node!)
#############

CELERYD_NODES="atmosphere-node_1"
CELERYD_NODES="$CELERYD_NODES imaging celery_periodic email"
CELERYD_OPTS="-Q:atmosphere-node_1 default,fast_deploy,ssh_deploy -c:atmosphere-node_1 13 -O:atmosphere-node_1 fair"


#############
# Production Settings (14 nodes!)
#############
# 2 Celery Queues, First is 'default', concurrency 8 and the second is 'imaging', concurrency 1
CELERYD_NODES="atmosphere-node_1 atmosphere-node_2 atmosphere-node_3 atmosphere-node_4"
CELERYD_NODES="$CELERYD_NODES atmosphere-fast_1 atmosphere-fast_2"
CELERYD_NODES="$CELERYD_NODES atmosphere-long_1 atmosphere-long_2 atmosphere-long_3 atmosphere-long_4 atmosphere-long_5 atmosphere-long_6 atmosphere-long_7"
CELERYD_NODES="$CELERYD_NODES imaging celery_periodic email""

CELERYD_OPTS="-Q:atmosphere-node_1 default -c:atmosphere-node_1 5 -O:atmosphere-node_1 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-node_2 default -c:atmosphere-node_2 5 -O:atmosphere-node_2 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-node_3 default -c:atmosphere-node_3 5 -O:atmosphere-node_3 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-node_4 default -c:atmosphere-node_4 5 -O:atmosphere-node_4 fair"

CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-fast_1 fast_deploy -c:atmosphere-fast_1 5 -O:atmosphere-fast_1 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-fast_2 fast_deploy -c:atmosphere-fast_2 5 -O:atmosphere-fast_2 fair"

CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_1 ssh_deploy -c:atmosphere-long_1 5 -O:atmosphere-long_1 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_2 ssh_deploy -c:atmosphere-long_2 5 -O:atmosphere-long_2 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_3 ssh_deploy -c:atmosphere-long_3 5 -O:atmosphere-long_3 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_4 ssh_deploy -c:atmosphere-long_4 5 -O:atmosphere-long_4 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_5 ssh_deploy -c:atmosphere-long_5 5 -O:atmosphere-long_5 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_6 ssh_deploy -c:atmosphere-long_6 5 -O:atmosphere-long_6 fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:atmosphere-long_7 ssh_deploy -c:atmosphere-long_7 5 -O:atmosphere-long_7 fair"

CELERYD_OPTS="$CELERYD_OPTS -Q:email email -c:email 3  -O:email fair"

CELERYD_OPTS="$CELERYD_OPTS -Q:imaging imaging -c:imaging 1 -O:imaging fair"

CELERYD_OPTS="$CELERYD_OPTS -Q:celery_periodic periodic -c:celery_periodic 3 -O:celery_periodic fair"
CELERYD_OPTS="$CELERYD_OPTS -Q:email email -c:email 1 -O:email fair"

#Our celery requires root access for sudo/chroot/mount
C_FORCE_ROOT="True"
export C_FORCE_ROOT

# Where to chdir at start.
# the module that defines your Celery app instance also
# set a default value for DJANGO_SETTINGS_MODULE
CELERYD_CHDIR="/opt/dev/atmosphere"

# TLS certificate files
TLS_CERT_FILE="/etc/ssl/certs/mydomain.org.crt"
TLS_KEY_FILE="/etc/ssl/private/mydomain.org.key"

# Safe list of serializers used by celery
CELERY_ACCEPT_CONTENT="['pickle', 'json', 'msgpack']"

# Environment location
VIRTUALENV="/opt/env/atmo"
# Abs path to the 'celery' command
CELERY_BIN="$VIRTUALENV/bin/celery"

#Set the env properly
export PATH="$CELERYD_CHDIR:$VIRTUALENV/bin:$VIRTUALENV/lib/python2.7/site-packages:$PATH"
export DJANGO_SETTINGS_MODULE="atmosphere.settings"

# %n will be replaced with the nodename.
CELERYD_LOG_FILE="/var/log/celery/%n.log"
CELERYD_PID_FILE="/var/run/celery/%n.pid"

# Create log/pid dirs, if they dont already exist
CELERY_CREATE_DIRS=1

# Atmosphere Celery user *MUST* be root for imaging
CELERYD_USER="root"
CELERYD_GROUP="root"

###
# Additional Celeryd settings
###
CELERYD_MAX_TASKS_PER_CHILD="150"

###
#
# Additional celery flower settings
###
CELERYD_FLOWER="$CELERYD_CHDIR/manage.py celery flower"
ADMIN_USER="flower_user"
ADMIN_PASS="flower_pass"
#Possibly not necessary?
FLOWER_BROKER_OPT="--broker=amqp://broker_user:broker_pass@hostname:5672/virtualhost_name"
#TODO:Change to Google+OAUTH2 VERY soon!
FLOWER_AUTH_OPT="--basic_auth=$ADMIN_USER:$ADMIN_PASS"
OAUTH2_ACCESS_LIST=""

FLOWER_LOG_FILE="/var/log/celery/flower.log"
CELERY_FLOWER_OPTS="--certfile=$TLS_CERT_FILE --keyfile=$TLS_KEY_FILE --port=8443 --log_file_prefix=$FLOWER_LOG_FILE --logging=warn --url_prefix=flower $FLOWER_BROKER_OPT $FLOWER_AUTH_OPT"

###
#
# Additional celerybeat settings
###

# Where to chdir at start.

CELERYBEAT_CHDIR="/opt/dev/atmosphere"
# Extra arguments to celerybeat
CELERYBEAT_OPTS="--schedule=djcelery.schedulers.DatabaseScheduler"

#Where to log and store process id
CELERYBEAT_LOG_FILE="/var/log/celery/celerybeat.log"
CELERYBEAT_PID_FILE="/var/run/celerybeat.pid"

#Default is INFO
#CELERYBEAT_LOG_LEVEL="DEBUG"
