<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atmosphere</title>
    <!--CSS-->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ site_root }}/resources/css/cloudfront3.css" />
    <!--JS-->
    <!--[if IE]>
    <script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
    var site_root = '{{ site_root }}';
    sessionStorage.clear(); // clear previous sessionStorage values
    </script>
    <!-- 3rd party dependencies -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
    <!--script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/require.js/1.0.8/require.min.js"></script-->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js"></script>

    <!-- Application dependencies -->
    <link rel="shortcut icon" href="{{ site_root }}/resources/images/favicon.ico" />
    {% csrf_token %}
    <!-- Google Analtics -->
    <script src="{{ site_root }}/resources/js/analytics.js"></script>
</head>
<body>

<!--Header-->
<a href="#">
<img src="{{ site_root }}/resources/images/mini_logo.png" alt="iPlant Cloud Services" />
Atmosphere: iPlant Cloud Services
</a>

</body>
</html>
