###
### HTTP Virtual Host Context
###

<VirtualHost *:80>
	ErrorLog ${APACHE_LOG_DIR}/error.log
	LogLevel warn
	CustomLog ${APACHE_LOG_DIR}/access.log combined

        RewriteEngine On
        RewriteCond %{HTTPS} !=on
        RewriteRule ^/?(.*) https://MYHOSTNAMEHERE/$1 [R,L]
</VirtualHost>

###
### WSGI Configuration
###

WSGIPythonHome VIRTUALENVHERE

SSLCryptoDevice builtin

##
## Celery-Flower proxy redirection
##
ProxyRequests Off
ProxyPreserveHost On
SSLProxyEngine On

ProxyPass         /flower  https://MYHOSTNAMEHERE:8443
ProxyPassReverse  /flower  https://MYHOSTNAMEHERE:8443
ProxyPassReverse  /flower  https://MYHOSTNAMEHERE/flower

<Location /flower>
    AuthType CAS
    AuthName "CAS"
    require group core-services
    CASScope /
    Order allow,deny
    Allow from all
</Location>

<Proxy https://MYHOSTNAMEHERE:8443/flower*>
  Order deny,allow
  Allow from all
</Proxy>

##
## Jenkins proxy redirection
##
ProxyPass         /jenkins  http://MYHOSTNAMEHERE:8080/jenkins
ProxyPassReverse  /jenkins  http://MYHOSTNAMEHERE:8080/jenkins
ProxyPassReverse  /jenkins  http://MYHOSTNAMEHERE/jenkins

<Proxy http://MYHOSTNAMEHERE:8080/jenkins*>
  Order deny,allow
  Allow from all
</Proxy>
##
## SSL Virtual Host Context
##

<VirtualHost _default_:443>

#Rewrite
RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

#for the old domain
RewriteCond %{HTTP_HOST} ^MYHOSTNAMEHERE$
RewriteRule ^/(.*)$       https://MYHOSTNAMEHERE/$1 [R,L]

#Logging
ErrorLog /var/log/apache2/ssl_error.log
TransferLog /var/log/apache2/ssl_access.log
LogLevel warn


#SSL
SSLEngine on
SSLProtocol all -SSLv2
SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM:+LOW
SSLCertificateFile /etc/ssl/certs/BASECERTHERE
SSLCertificateKeyFile /etc/ssl/private/KEYHERE
SSLCertificateChainFile /etc/ssl/certs/BUNDLECERTHERE

<Files ~ "\.(cgi|shtml|phtml|php3?)$">
    SSLOptions +StdEnvVars
</Files>
<Directory "/var/www/cgi-bin">
    SSLOptions +StdEnvVars
</Directory>

SetEnvIf User-Agent ".*MSIE.*" \
         nokeepalive ssl-unclean-shutdown \
         downgrade-1.0 force-response-1.0


#This is for atmosphere
Alias /favicon.ico LOCATIONOFATMOSPHEREHERE/static/images/favicon.ico
Alias /robots.txt LOCATIONOFATMOSPHEREHERE/templates/robots.txt
#init_files && resources will auto-direct to the file
Alias /init_files LOCATIONOFATMOSPHEREHERE/init_files
Alias /resources LOCATIONOFATMOSPHEREHERE/resources
Alias /static LOCATIONOFATMOSPHEREHERE/static

#Assing WSGI to any other folder
WSGIScriptAlias / LOCATIONOFATMOSPHEREHERE/atmosphere/wsgi.py

#Notifications
<Location /n/>
          ProxyPass http://localhost:9000/
</Location>

# Shell
<Location /shell>
    AuthType CAS
    AuthName "CAS"
    require valid-user
    CASScope /
    Order allow,deny
    Allow from all
</Location>

</VirtualHost>
