<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>
      iPlant Collaborative | {% block title %} {% endblock %}
    </title>
    <link rel="stylesheet" href="/resources/css/base.css" type="text/css" />
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    {% block head %} {% endblock %}
    
  </head>
  <body class="yui-skin-sam">
    <div id="top">
      <div id="header">
	<img class="header_logo" src="/resources/images/logo.png" />
	<div class="header_title">'atmosphere' where cloud lives - iPlant Collaborative Cloud Service Portal, Core Services Team</div>
      </div>
      <div id="navigator">
	{% if user.username %}
	{% include "navigator.html" %}
	{% endif %}  
      </div>
    </div>
    
    <div id ='footer'>
      &copy;2010 iPlant Collaborative | 
      The iPlant Collaborative is funded by a grant from the National Science Foundation Plant Cyberinfrastructure Program (#EF-0735191).
    </div>
    
    
    <div id="center1" >
      
      {% if user.username %}
      {% block content %} {% endblock %}
      {% else %}
      <!-- no navigator needed -->
      <div id="navigator"> </div>
      <div id="greeting" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
        
	<p>**'atmosphere' where cloud lives**</p>
	<p>iPlant Collaborative Cloud Service Portal</p>
        
	<p>Odio eum, luptatum feugiat diam feugait luptatum amet ipsum illum euismod. Commodo ullamcorper nonummy lobortis consequat wisi enim augue at tincidunt facilisis, duis dolor vel laoreet dolore luptatum nisl, esse aliquip eu, veniam, quis ex, autem. Volutpat eros eu vulputate in erat erat nisl augue illum consequat, at iusto ullamcorper, duis. Velit feugiat iusto facilisis exerci veniam wisi at, ex feugait aliquip nulla ut blandit praesent facilisi in, commodo nostrud et lobortis tation.</p>
        
	<p>Accumsan nisl iusto dolor dignissim, zzril praesent praesent volutpat blandit ut, nulla, consequat vulputate ea hendrerit minim sed nulla ut facilisi, minim enim enim molestie accumsan. Dolor praesent, amet vero esse facilisis nulla autem delenit hendrerit lobortis ea illum aliquip et te nulla enim ex ut dolor nibh. Esse vel veniam nulla accumsan blandit, tation odio magna tation nonummy dolore euismod in ut eum iriure consectetuer, commodo suscipit. Lobortis wisi, vero nulla vulputate vero vel dignissim iriure ut hendrerit dolore duis ea, blandit iriure exerci dolore. Veniam suscipit ad delenit aliquam volutpat eu consequat feugait, elit, nostrud, velit wisi duis at exerci quis et.</p>
        
	<p>Veniam dolor feugiat iusto facilisis exerci veniam wisi at, ex feugait aliquip nulla ut. Duis praesent facilisi in, commodo nostrud et lobortis tation et accumsan te ut commodo sit minim velit. Volutpat ad diam vel ullamcorper ad ex nisl odio iriure ut eros vel elit, exerci vel feugait nostrud tincidunt dolor luptatum nostrud dolore delenit hendrerit in. Delenit et, sit in qui, feugiat consequat dignissim dolore, adipiscing augue qui lorem te esse esse et qui adipiscing. Blandit, zzril aliquam eum, luptatum feugiat diam feugait luptatum amet ipsum illum euismod qui ullamcorper. Dolore lobortis consequat wisi enim augue at tincidunt facilisis, duis. Hendrerit vel laoreet dolore luptatum nisl, esse aliquip eu, veniam, quis ex, autem, illum.</p>
        
        
	<p>To use the system, you need to <a href="/login">login</a></p>
	
      </div>
      
      
      
      
      {% endif %}
    </div>
    
    
    
    <script>
      
      (function() {
      
      var header_height = 50;
      {% if user.username %}
      header_height = 90;
      {% endif %}  
      
      var Dom = YAHOO.util.Dom,
      Event = YAHOO.util.Event;
      
      Event.onDOMReady(function() {
      var layout = new YAHOO.widget.Layout({
      units: [
      { position: 'top', height: header_height, body: 'top', gutter: '0px', collapse: false, resize: false },
      { position: 'bottom', height: 40, resize: false, body: 'footer', gutter: '0px', collapse: false},
      { position: 'center', body: 'center1' }
      ]
      });
      layout.on('render', function() {
      
      {% block bottom_script %} {% endblock %}
      
      
      });
      
      layout.render();
      
      
		});
	  })();
</script>
		
	</body>
</html>
