<!DOCTYPE html>
<html>
    <head>
		<title>
			Atmosphere Airport | iPlant Collaborative
		</title>
		<link rel="shortcut icon" href="{{ site_root }}/resources/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="{{ site_root }}/resources/css/login.css"/>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
		<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ site_root }}/resources/js/d3.v3.min.js"></script>
		<script type="text/javascript" src="{{ site_root }}/resources/js/viz.js"></script>
		<script type="text/javascript">
			$(function() {
				$('[data-toggle="modal"]').click(function() {
					$('#cpu_modal').modal('show');
				});
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="imgcontainer" class="center">
				<img src="{{ site_root }}/resources/images/login_mainimage.png" style="max-width: none" alt="Log in to Atmosphere" />
			</div>
				
			<div id="login" class="row">

				<!-- Interactive Graphic -->
				<div class="col-md-6" style="margin-top: -130px">
					<div id="visCarousel" class="carousel slide">
						<div class="carousel-inner">
							<div class="active item">
								<div id="first_viz"></div>
								<h3>Accelerating research with the cloud!</h3>
								<h4>Atmosphere's <strong>top eight users</strong> have used<br>over <strong><span id="total_cpu_time">0</span> CPU hours since</strong> July 2012.</h4>
								<h5>Log in to find out how many you've used!</h5>

								<p><a href="#" data-toggle="modal">What's a CPU Hour?</a></p>
							</div>
						</div>

						<!--<a class="carousel-control left" href="#visCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#visCarousel" data-slide="next">&rsaquo;</a>-->
					</div>
				</div>

				<div class="col-md-6">
				<!-- Login Box  -->

				  <div class="login-box" style="margin-left: auto; margin-right: auto">
					  <h1>Atmosphere</h1>
					  <h2><small color="#444">iPlant Cloud Services</small></h2>

					  <br /><br />

					  {% for record in records %}
						<div class='maintenance-message'
					  id='maintenance-record-{{record.id}}'><i class="glyphicon glyphicon-info-sign
					  icon-white"></i>
{% if record.provider %}
  {{record.provider}} {{record.message}}
{% else %}
  {{record.message}}
{% endif %}</div>
					  {% endfor %}
					  <form method="post" action=".">
						{% csrf_token %}
						<input type="submit" value="Log in with your iPlant ID" class="submitButton">
						<input type="hidden" name="next" value="/">
					  </form>

						<a href="https://user.iplantcollaborative.org/reset/request">Forgot Password?</a> <a href="https://user.iplantcollaborative.org/register/">Register Now</a>

				</div>
			</div>
		</div>
	</div>
	
<!--div id="cpu_modal" class="modal hide fade">
	<div class="modal-header" style="text-align: left">
		<h3>CPU Hours on Atmosphere</h3>
	</div>
	<div class="modal-body" style="text-align: left">
		<p>A CPU hour is a CPU core used for one hour. For example, an instance that uses four CPU cores will consume four CPU hours for every hour that it is running.</p>

		<p>When your instance is stopped or paused, it will not contribute to the number of CPU hours your instances have used.</p>

	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div-->

<div id="cpu_modal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="text-align: left;">
				<h3>CPU Hours on Atmosphere</h3>
			</div>
			<div class="modal-body" style="text-align: left;">
				<p>A CPU hour is a CPU core used for one hour. For example, an instance that uses four CPU cores will consume four CPU hours for every hour that it is running.</p>
				<p>When your instance is stopped or paused, it will not contribute to the number of CPU hours your instances have used.</p>
			</div>
			<div class="modal-footer">
				 <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>


</body></html>
