<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Atmosphere Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ site_root }}/resources/bootstrap/css/bootstrap.css"/>
    <link href="{{ site_root }}/resources/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet"/>

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link href="{{ site_root }}/resources/css/admin.css" rel="stylesheet" />
    <script type="text/javascript">
        var site_root = '{{ site_root }}';
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
{% block head %}
{% endblock %}
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="{{ site_root }}/admin">Atmosphere Admin</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">{{ username }}</a>
            </p>
            <ul class="nav">
              <li><a href="{{ site_root }}/admin">Home</a></li>
              <li class="active"><a href="{{ site_root }}/admin/logs">Logs</a></li>
            </ul>
            {% block nav %}
            {% endblock %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
{% block content %}
{% endblock %}
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; iPlantCollaborative 2012</p>
      </footer>

    </div><!--/.fluid-container-->
  </body>
</html>
