import sys

globals().update(vars(sys.modules['atmosphere.settings']))

#Debug Mode
DEBUG = True
TEMPLATE_DEBUG = DEBUG

PROJECT_ROOT = os.path.abspath(
    os.path.join(
        os.path.dirname(__file__), "../.."))
TEST_RUNNER='atmosphere.test_runner.CeleryDiscoverTestSuiteRunner'
TEST_RUNNER_USER=''
TEST_RUNNER_PASS=''

SERVER_URL = ""

DATABASES = {
    "default": {
        "ENGINE": "django.db.backends.postgresql_psycopg2",
        "NAME": "",
        "USER": "",
        "PASSWORD": "",
        "HOST": "",
        "PORT": ""
    },
}

# Must reassign anything using SERVER_URL.

# Prevents warnings
ALLOWED_HOSTS = [SERVER_URL.replace("https://","")]

#Atmosphere Keypair/Deployment Configs
ATMOSPHERE_PRIVATE_KEYFILE=os.path.join(PROJECT_ROOT, "extras/ssh/id_rsa")
ATMOSPHERE_KEYPAIR_FILE=os.path.join(PROJECT_ROOT, "path/to/keypair.pub")
ATMOSPHERE_KEYPAIR_NAME=""

# Atmosphere App Configs
INSTANCE_SERVICE_URL = SERVER_URL + REDIRECT_URL + "/api/v1/notification/"
API_SERVER_URL = SERVER_URL + REDIRECT_URL + "/resources/v1"
AUTH_SERVER_URL = SERVER_URL + REDIRECT_URL + "/auth"

# CASLIB
SELF_SIGNED_CERT = False
SERVER_URL = SERVER_URL+REDIRECT_URL
CAS_SERVER = ""
SERVICE_URL = SERVER_URL+"/CAS_serviceValidater?sendback="+REDIRECT_URL+"/application/"
PROXY_URL = SERVER_URL+"/CAS_proxyUrl"
PROXY_CALLBACK_URL = SERVER_URL+"/CAS_proxyCallback"
caslib.cas_init(CAS_SERVER, SERVICE_URL, PROXY_URL, PROXY_CALLBACK_URL, SELF_SIGNED_CERT)
