"""
Settings that are secrets and otherwise sensitive.
"""
from datetime import timedelta

# NOTE: SECRET_KEY should be defined in __init__.py, but will not be accessible
# without the following two lines..
import sys
globals().update(vars(sys.modules['atmosphere.settings']))

# Atmosphere secret 'seed'
# Use this value to produce 'reliably-random' events and hashing
# and still be able to share that same value across multiple servers.
SECRET_SEED = '{{ ATMOSPHERE_SECRET_SEED }}'

if not SECRET_SEED:
    import string
    SECRET_SEED = SECRET_KEY.translate(None, string.punctuation)

# ATMOSPHERE SUPERUSERS
# These users should NOT exist as regular users, and are used to alias
# all providers administrator accounts.
ATMOSPHERE_SUPERUSER = '{{ ATMOSPHERE_SUPERUSER }}'

TOKEN_EXPIRY_TIME = timedelta(days={{ TOKEN_EXPIRY_TIME_DAYS }})

# LICENSES
ATMOSPHERE_VNC_LICENSE = '{{ ATMOSPHERE_VNC_LICENSE }}'


# AUTH SETTINGS
LDAP_SERVER = '{{ LDAP_SERVER }}'
LDAP_SERVER_DN = '{{ LDAP_SERVER_DN }}'


# IRODS STORAGE
IRODS_HOST = '{{ IRODS_HOST }}'
{% if IRODS_PORT %}
IRODS_PORT = {{ IRODS_PORT }}
{% else %}
IRODS_PORT = -1
{% endif %}
IRODS_ZONE = '{{ IRODS_ZONE }}'
# In order to use iRODS effectively, we require iRODS administrator
# credentials to emulate other users and act on their behalf
IRODS_ADMIN_USER = '{{ IRODS_ADMIN_USER }}'
IRODS_ADMIN_PASS = '{{ IRODS_ADMIN_PASS }}'


# LOCAL STORAGE
# Local storage is necessary for imaging Eucalyptus
# There should be a minimum of 10GB of space remaining
# before attempting imaging.
# Ideally, this location should point to a storage volume
LOCAL_STORAGE = '{{ LOCAL_STORAGE }}'

CHROMOGENIC = {
    'LOCAL_STORAGE' : '{{ LOCAL_STORAGE }}',
    'SSH_KEY': '{{ CHROMO_DEPLOYMENT_KEY }}',
    'INCLUDE_METADATA': {{ CHROMO_EXTRA_IMAGE_METADATA }},
}

# RTWO
# TODO: REMOVE THESE WHEN REPLACING RTWO
EUCA_ADMIN_KEY = ''
EUCA_ADMIN_SECRET = ''
SERVER_URL = '{{ DJANGO_SERVER_URL }}'
REDIRECT_URL = ''
INSTANCE_SERVICE_URL = SERVER_URL + REDIRECT_URL + '/api/v1/notification'
