"""
Use this file to change settings needed to run the test suite.
"""
from djcelery.app import app
from django.test.runner import DiscoverRunner

# CELERY_ALWAYS_EAGER = True
# CELERY_EAGER_PROPAGATES_EXCEPTIONS = True  # Issue #75

def _set_eager():
    CELERY_ALWAYS_EAGER = True
    app.conf.CELERY_ALWAYS_EAGER = True
    CELERY_EAGER_PROPAGATES_EXCEPTIONS = True  # Issue #75
    app.conf.CELERY_EAGER_PROPAGATES_EXCEPTIONS = True


class CeleryDiscoverTestSuiteRunner(DiscoverRunner):

    """Django test runner allowing testing of celery delayed tasks.

    All tasks are run locally, instead of on a worker.

    To use this runner set ``settings.TEST_RUNNER``::

        TEST_RUNNER = "atmosphere.test_runner.CeleryDiscoverTestSuiteRunner"

    """

    def setup_test_environment(self, **kwargs):
        _set_eager()
        super(CeleryDiscoverTestSuiteRunner,self).setup_test_environment(
                **kwargs)

TEST_RUNNER='atmosphere.settings.CeleryDiscoverTestSuiteRunner'
TEST_RUNNER_USER = '{{ TEST_RUNNER_USER }}'
TEST_RUNNER_PASS = '{{ TEST_RUNNER_PASS }}'

{% if DJANGO_JENKINS %}
# apps jenkins will run
PROJECT_APPS = ("service", "core", "allocation")

INSTALLED_APPS += (
    'django_jenkins',
)
{% endif %}
