"""
Use this file to change settings needed to run the test suite.

Mostly, this will be the DATABASES dict:

    DATABASES = {
        'default': {
            'NAME': 'atmosphere',
            'ENGINE': 'django.db.backends.postgresql_psycopg2',
            'USER': '',
            'PASSWORD': '',
            'HOST': 'localhost',
            'PORT': '5432'
        },
    }
"""
