<div class="modal-dialog">
   <div class="modal-content">
     <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2>Request More Resources</h2>
     </div>
     <div class="modal-body">
        <p>
           <p class="alert alert-info" style="padding-left: 30px"><i class="glyphicon glyphicon-info-sign" style="margin-left: -17px"></i> 
           Depending on the cloud provider, allocations may be expressed as CPUs, RAM, Atmosphere Units (AUs), or a combination of these. One Atmosphere Unit is roughly equivalent to a CPU-hour, or using one CPU core for one hour. A 16 core instance running for one hour will use 16 AUs. Instances are available on a first-come-first-served basis. Depending on Atmosphere's capacity, you may be unable to launch an instance even though you have a sufficient allocation.
           </p>
           
           <form name="request_resources_form" style="margin-bottom: 0" role="form">
              <input type="hidden" name="username" value="<%= id %>" />

              <div class="form-group">
                 <label class="control-label">What resources would you like to request?</label>
                 <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                       <textarea class="form-control" name="quota" style="width: 80%" rows="3" placeholder="E.g 4 CPUs and 8GB memory, running 4 cores for 1 week, an additional 5400 cpu hours, etc."></textarea>
                    </div>
                 </div>
              </div>
              <div class="form-group">
                 <label class="control-label">How will you use the additional resources?</label>
                 <div class="row">
                    <div class="col-sm-11 col-sm-offset-1">
                       <textarea class="form-control" name="reason" style="width: 80%" rows="3" placeholder="E.g. To run a program or analysis, store larger output, etc."></textarea>
                    </div>
                 </div>
              </div>
           </form>
        </p>
     </div>
     <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Cancel</a>
        <a href="#" class="btn btn-primary" id="request_resources_btn">Request Resources</a>
     </div>
   </div>
</div>
