html, body {
      font:normal 12px verdana;
      margin:0;
      padding:0;
      border:0 none;
      overflow:hidden;
      height:100%;
}

p {
      margin:5px;
    }

.settings {
      background-image:url(../shared/icons/fam/folder_wrench.png);
    }

.nav {
      background-image:url(../shared/icons/fam/folder_go.png);
    }
	
#header {
	height: 8px;
	border-bottom: #0098aa 0px solid;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, right bottom, from(#FFFFFF), to(#56ACBC));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(left, #FFFFFF, #56ACBC);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#56ACBC);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#56ACBC)";
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-top: 10px;
	left: 0px;
	right: 0px;
	position: relative;

	top: 0px;
	min-width: 924px;
	width: 100%;

    text-align: left;
    
}

#footer {
	background-repeat:repeat-y;
	background-position: left;
	/* For WebKit (Safari, Google Chrome etc) */
	background: -webkit-gradient(linear, left top, right bottom, from(#FFFFFF), to(#56ACBC));
	/* For Mozilla/Gecko (Firefox etc) */
	background: -moz-linear-gradient(left, #FFFFFF, #56ACBC);
	/* For Internet Explorer 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#56ACBC);
	/* For Internet Explorer 8 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFFFF, endColorstr=#56ACBC)";
	
	font-size: 13px;
	border-top: #0098aa 0px solid;
	margin: 0,0,0,0;
	padding-top: 25px;
	padding-bottom: 5px;
	text-align: center;
	width: 100%;
	bottom: 0px;
	left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	left: 0px;
	right: 0px;
}

.dashboard {
		background-image:url('/resources/images/logo1_large.png');
		background-repeat:no-repeat;
		background-position:98% 98%;
		height: 100%;
}

.dashboard_background {
		background-image:url('/resources/images/logo2_horizontal_large.png');
		background-repeat:no-repeat;
		background-position:50% 50%;
		height: 100%;
}

#application_launcher_box {
		width: 465px;
		height: 200px;
		border: 1px solid #728FCE; 
		margin: 10px 10px 10px 10px;
}

.input {
		border: 1px solid #006;
		width: 100px;
		height: 20px;
}

#header_logo {
    position: fixed;
    top: 4px;
    padding-left: 10px;
}

#top-navigation {
    position: fixed;
    top: 4px;
    right: 10px;
}

.top-navigation {
    //background-color:#FFFFFF;
    display:inline-block;
    padding:0 2.2em;
    white-space:nowrap;
    color: #828282;
    font-family: Verdana;
}

.top-navigation {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    color: #485C8B;
    display: block;
    font-family: 'Lucida Grande', verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    height: 12px;
    margin-bottom: 0px 0px 0px 0px;
    min-width: 0px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 8px;
    position: absolute;
    right: 0px;
    text-align: left;
    top: 0px;
    width: 212px;
}

span.pipe {

    padding-left: 4px;
    padding-right: 4px;
}

.top-navigation a:link {
    color:#FFFFFF;
    text-decoration: none;
}
.top-navigation a:visited {
    color:#FFFFFF;
    text-decoration: underline;
}
.top-navigation a:hover {
    color:#FFFFFF;
    text-decoration: underline;
}
.top-navigation a:active {color:#FFFFFF}
.top-navigation a { text-decoration:none}


._icon {
	background: url(/resources/images/preview.png) 0 no-repeat !important;

}


table.row_details { 
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 14px;
	padding-right: 7px;
	width: 90%; 
}

.row_details .label, .details .label {
	color: #3a3a3a;
	font-weight: bold;
	font-size: 11px;
	text-align: left;
	padding: 0;
	white-space: nowrap;
}

.row_details .value, .details .value {
	color: #3a3a3a;
	font-weight: normal;
	font-size: 12px;
	padding: 0;
	padding-left: 6px;
	white-space: 
	nowrap;
}
	
.row_details .value.wrap, .details, .value.wrap {
	white-space: normal;
}

.row_details .data, .details .data {
	float: left; 
	border-bottom: 1px solid #e0e0e0;
	padding: 0 0 5px 0;
	margin: 4px 25px 0 0;
	width: 90%;
}

.row_details .triple_wide_data, .details .triple_wide_data {
	float: left; 
	border-bottom: 1px solid #e0e0e0;
	padding: 0 0 5px 0;
	margin: 4px 25px 0 0;
	width: 95%;
}

.row_details td.no_border div, .details td.no_border div {
	border: none;
}

.row_details .key_row .label,.row_details .key_row .value,.details .key_row .label,.details.key_row .value {
	color: #5a7eaa;
	font-size: 14px;
	padding: 0;
}


.row_details .console-tooltip {
	float: left;
}

.details_message {
	background: #eaf3fe;
	height: 12px;
	font-color: #3a3a3a;
	font-size: 11px;
	font-weight: bold;
	padding: 5px 5px 5px 10px;
}

.details_container .details_icon {
	position: absolute;
	top: 32px;
	left: 7px;
}

.details_message.green { 
	background: #ddffd6; 
}

.details_container { 
	padding: 5px 0 0 30px; 
}

.failinate {
    height: 400px;
/*    padding-bottom: 49px;*/
    overflow: auto;
}

#msg-div {
  position:absolute;
  left:35%;
  top:10px;
  width:250px;
  z-index: 20000;
}
	
#app_icon {
  float:left;
  width: 80px;
  text-align: center;
  color: #666;
}

p.app_name {
  color: #666;
  font-size: 2em;
  /* font-weight: bold; */
}

