/*
 * To contributors: This CSS file is designed to be *mobile-first*:
 * Everything outside of an explicit media query is meant to style for the
 * smallest supported resolution. Each larger media query builds on top of all
 * smaller ones.
 */
@import url('cf3/structure.css');
@import url('cf3/sidebar.css');
@import url('cf3/dashboard.css');

.main-page-header h1 {
    color: #db6619;
}
.main-page-header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

/* http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/ */
.loading {
    height:60px;
    width:60px;
    margin: 0 auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0, 152, 170, .15);
    border-right:6px solid rgba(0, 152, 170, .15);
    border-bottom:6px solid rgba(0, 152, 170, .15);
    border-top:6px solid rgba(0, 152, 170, .8);
    
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #main .loading {
        margin: 180px auto 0;
    }
}
