/*
 * To contributors: This CSS file is designed to be *mobile-first*:
 * Everything outside of an explicit media query is meant to style for the
 * smallest supported resolution. Each larger media query builds on top of all
 * smaller ones.
 */

header {
    background-color: #0098aa;
    color: #fff;
    padding: 5px;
}

header img {
    margin-right: 7px;
}

header a {
    color: #fff;
}

#sidebar {
    background-color: #f5f5f5;
}

#sidebar ul {
    margin: 0;
    padding: 0; 
}

#sidebar li {
    font-size: 1.2em; 
}

#sidebar li a {
    color: #222;
    display: block;
    text-decoration: none;
    padding: 10px;
    position: relative;
}

#sidebar li a i {
    margin-right: 10px;
}

#sidebar li a:hover {
    background-color: #e6e6e6;
}

#sidebar li.active a {
    background-color: #333;
    color: #fff;
}

#sidebar li.active a:hover {
    background-color: #444;  
}

footer {
    text-align: center;
    margin: 3em 0;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    #sidebar {
        position: fixed;
        top: 40px;
        left: 0;
        width: 250px;
        height: 100%;
    }

    #sidebar li.active a:before {
        content: "";
        background-color: #fff;
        width: 34px;
        height: 34px;
        display: block;
        position: absolute;
        right: 0;
        top: 5px;
        border-width: 17px;
        border-style: solid;
        border-color: #333333 #ffffff #333333 #333333;
    }
    #sidebar li.active a:hover:before {
        border-color: #444444 #ffffff #444444 #444444;
    }

    #main {
        margin: 70px 90px 0 340px;
    }

    footer {
        width: 250px;
        position: fixed;
        left: 0;
        bottom: 0;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
