@charset "UTF-8";

/* Broad CSS Styles */
body {
	background-color: #a4dfe5 !important;
	background: url(../images/sunny_sky_opt.png);
	background-repeat: repeat-x;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
        font-size: 12px !important;
	min-height: 100%;
	height: auto !important;
	margin: 0;
	overflow: auto;
	line-height: 14px;
	overflow-x: hidden;
}
h1, h2, h3, h4 {
    margin: 5px 0px;
}
h1 {
    color: #0098aa;
    font-weight: normal;
    font-size: 2em;
    line-height: 1.2em;
}
h2 {
	font-size: 16px;
	line-height: 20px;
    font-weight: normal;
}
h3 {
	font-size: 14px;
	line-height: 18px;
	font-weight: normal;
    color: #000;
}
h4 {
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
}
h2 small {
	font-size: 14px;
	margin-left: 5px;
}
a {
	cursor: pointer;
	color: #00AABE;
	font-weight: normal;
}
a:hover {
    color: #0098aa;
    text-decoration: none;
}
li {
	line-height: 15px; /* Condensed from boostrap's line height */
}
select {
	height: 31px !important;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 12px;
	border: 1px solid #999 !important;
}

/* Main area styles */
#header, #content {
    margin: 0 auto;
}
#main {
	background-image: url(../images/maindiv_bg.png);
	border-radius: 3px;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
	margin-left: 0;
	/*width: 76.595744683%;*/
}

#sidebar {
    padding-bottom: 50px;
}

/* Medium devices (desktops, 720px and up) */
@media (min-width: 720px) {
    #wrap {
        position: absolute;
        top: 48px;
        bottom: 50px;
        width: 100%;
    }
    #content {
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    #content > div {
        height: 100%;
        position: absolute;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #sidebar {
        width: 350px;
    }
    #main {
        left: 350px;
        right: 0;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #header, #content {
        max-width: 1400px;
    }
}

.screen {
	padding: 10px;
}
#main p {	
	font-size: 12px !important;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
    color: #333;
    line-height: 14px;
}
#main a {
	cursor: pointer;
	font-weight: normal;
    border-bottom: 1px dotted #41BDCC;
}
#main a:hover {
    border-bottom: 1px dotted #0098aa;
    color: #0098aa;
    text-decoration: none;
}
#main input {
	border-radius: 3px !important;
}

/* Footer Styles */
#footer {
	padding: 5px 0;
	text-align: center;
    background-color: #DAF5F8;

    /* Bootstrap 3 upgrade fix */
    width: 100%;
    margin-right: 0;
    margin-left: 0;
}

/* Medium devices (desktops, 720px and up) */
@media (min-width: 720px) {
    #footer {
        position: absolute;
        bottom: 0;
    }
}

#footer #version {
	color: #a4dfe5;
}
#weather_report { /* Weather report is inside the footer */ 
    padding-left: 59px;
    text-align: left;
    color: #666;
    min-height: 30px;
}
#weather_report.sunny { 
    background: url(../images/weather_sunny.png) no-repeat 16px 0px;
}
#weather_report.cloudy {
    background: url(../images/weather_cloudy.png) no-repeat 16px 0px;
}
#weather_report.rainy {
    background: url(../images/weather_rainy.png) no-repeat 16px 0px;
}
#weather_report.stormy {
    background: url(../images/weather_stormy.png) no-repeat 16px 0px;
}

/* Header Styles */
#username {
	display: inline;
}
#header_container {
    background: url(../images/header_bg.png) no-repeat, url(../images/header_bg_bg.png);
    background-color: #222;
    height: 39px;
    box-shadow: 0 2px 10px #999;
}
#logo_container {
    margin-left: 0px;
    padding: 5px;
}
#logo_container img {
    height: 28px;
}
#logo_container a, #logo_container a:hover {
    text-decoration: none;
    border: none;
}
#logo_container em {
    color: #EEE;
    font-size: 13px;
    margin-left: 10px;
    text-align: right;
    font-weight: 500;
    font-style: normal;
}
#header a {
	cursor: pointer;
	color: #0098aa;
	font-weight: normal;
}
#header a:disabled {
	color: #666;
}
#header .btn-mini {
	padding: 2px 10px;
	color: #333;
	box-shadow: 1px 1px 2px rgb(63, 124, 136);
	margin-right: 5px;
}
#top_menu {
    text-align: right;
	height: 30px;
	overflow: hidden;
}
#top_menu a {
   color: #FFF; 
   text-decoration: none;
   border-bottom: 1px dotted #ccc;
    margin: 10px;
    font-size: 1.1em;
}
#top_menu a:hover {
    color: #FFF;
    border-bottom: 1px dotted #fff;
    text-decoration: none;
}
/* Settings Nav */
#settings a {
    color: white;
    letter-spacing: 0.08em;
    text-decoration: none;
    border-bottom: 1px dotted #CCC;
    font-size: 0.8em;
}
#header_nav {
    padding-top:5px;
}

/* Styles for the quick provider switcher in top right menu */
#providers_menu .current-provider a {
	color: #000 !important;
}
#providers_menu .current-provider i {
	margin-left: -17px;
	margin-top: -1px;
}
#providers_menu .current-provider a:hover {
	color: #FFF;
}

/* Media Queries for Responsive Design */ 
@media (max-width: 767px) {
	#mobile_menu a {
		display: block !important;
		color: #0098aa !important;
		background-color: rgb(203, 238, 238);
		border-radius: 5px;
		padding: 5px;
		text-align: left;
		margin: 5px;
		text-decoration: none;
	}
	#mobile_menu a:hover {
		background-color: rgb(228, 248, 248);
	}
    #top_menu {
        top: 0 !important;
        text-align: left !important;
		overflow: visible !important;
    }
    #top_menu a {
        display: block;
    }
	#header .btn-mini {
		display: block;
		margin: 5px;
	}
    #header_container {
        height: 250px !important;
        margin-bottom: 20px;
    }
    .modal.fade.in {
        top: 1% !important;
    }
    #total_cpu_time {
		display: none !important;
	}
}
@media (max-width: 767px) {
	.row-fluid #main {
		width: auto;
	}
}
@media (max-width: 500px) {
    #alert_holder {
        width: 300px !important;
        margin-left: -150px !important;
    }
    .instance_controls_container {
        text-align: left !important;
        display: block !important;
    }
    #volumes_dropdown_container {
        display: block !important;
    }
    .instance_controls_container > .btn-group {
        margin-left: 0 !important;
        width: 100%;
    }
    .request_imaging_btn, .report_instance_btn, .terminate_instance, .resize_instance_btn, .suspend_resume_instance_btn, .reboot_instance_btn, .start_stop_instance_btn {
        display: block;
        border-radius: 3px !important;
        margin: 5px 0 !important;
        width: 100% !important;
        text-align: left;
    }
}

/* Instance screen, buttons to edit names of tags and instances*/
.instance_controls_container .btn i[class^="icon-"] {
	position: relative;
	top: -2px;
}
.editable img {
	position: relative;
	top: -3px;
}
.editable img:hover {
	cursor: pointer;
}
.editing {
	background-color: #444;
	color: #FFF;
	margin-left: 5px;
	border-radius: 2px;
	font-weight: normal;
    min-width: 41px; 
    display: inline-block;
	padding: 0px 7px;
	font-size: 10px;
    border: 0 !important;
    text-decoration: none !important;
}
.editing:hover {
	cursor: pointer;
	background-color: #222;
}
.save_edit_button {
	background-color: #444;
	color: #FFF;
	margin-left: 5px;
	border-radius: 2px;
	font-weight: normal;
    display: inline-block;
	padding: 3px 8px !important;
	font-size: 10px;
    cursor: pointer;
}
.save_edit_button:hover {
	background-color: #222;
}
.discard_changes_button {
	background-color: #EF4136;
	color: #FFF;
	border-radius: 10px;
	font-size: 12px;
	line-height: 14px;
	padding: 0px 5px;
	margin-left: 5px;
	cursor: pointer; 
}
.discard_changes_button:hover {
	background-color: #960606; 
}

/* General UI Elements -- Button and Emphasized Button */
/* Icons */
i.icon-terminst, i.icon-reqimg, i.icon-volume, i.icon-attach_vol, i.icon-newinstance{
	background-position: 0 0;
	width: 16px;
	height: 16px;
}
i.icon-terminst {
	background-image: url('../images/icon_terminst.png');
}
i.icon-reqimg {
	background-image: url('../images/icon_reqimg.png');
}
i.icon-volume {
	background-image: url('../images/icon_volume.png');
}
i.icon-attach_vol {
	background-image: url('../images/icon_attach_vol.png');
}
i.icon-newinstance {
	background-image: url('../images/icon_newinstance.png');
	width: 31px;
	height: 21px;
	vertical-align: middle;
}
/* Card used as a stylized container for information */
.card {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid rgb(219, 219, 219);
	box-shadow: 2px 2px 2px #EFEFEF;
	border-radius: 3px; 
	margin-bottom: 20px;
}

.context-helper { /* Links that help user use Atmosphere. */
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin: 0;
    color: #333 !important;
	background-color: #FFF !important;
	border: 1px solid #EEE !important;
	font-size: 12px;
	line-height: 14px;
    position: relative;
    top: -2px;
	padding: 3px;
	border-radius: 3px;
}
a.context-helper {
    text-decoration: none;
}
a.context-holder:hover, .context-helper:hover {
    color: #000 !important;
    text-decoration: none;
	border-color: #DDD !important;
	background-color: #EEE !important;
}
.instance_tabs li a.context-helper, .instance_tabs li a.context-helper:hover {
	background-color: transparent !important;
	text-decoration: none !important;
	border: 0 !important;
}

a.vnc_iframe {
    display: block;
    padding: 10px;
    border-radius: 10px;
    background-color: hsl(208, 100%, 97%);
    border-bottom: 0 none;
    text-align: center;
    font-size: 48px;
    line-height: 48px;
}

/* Overwrite Bootstrap Styles */
.popover-title a {
	position: relative;
	top: -2px;
}
.popover {
	width: 300px;
}
.popover textarea {
	width: 95%;
}
.popover a {
	margin: 2px;
	color: #0098aa !important;
}
.popover a.btn {
	color: #555 !important;
}
.popover form {
	margin-bottom: 5px;
}
.popover-content {
	font-size: 12px !important;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	line-height: 20px;
    color: #333;
    line-height: 14px;
}
.modal-header button {
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-top: 0px;
}
.modal-footer a.btn {
	color: #333 !important;
	border: 0 !important;
	text-decoration: none;
}
.modal-footer a.btn-primary {
	color: #FFF !important;
}
.modal-footer a[disabled="disabled"] {
	color: #A7A9AC !important;
}
.btn:disabled, .btn[disabled] {
	opacity: 1;
}
.disabled i[class^="icon-"] {
	opacity: 0.3;
}
a.accordion-toggle {
    border-bottom: 0 !important;
}
a.accordion-toggle .caret {
    position: relative;
    top: 5px;
    float: right;
    display: block;
    pointer-events: none;
}
.accordion-group {
	background-color: #FFF;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-toggle.menu-dropdown {
	box-shadow: 1px 1px 2px rgb(63, 124, 136) !important;
	margin-right: 10px;
}

.dropdown-toggle.disabled{
    box-shadow: none !important;
}
.dropdown-menu.drop-left {
	left: auto;
	right: 0;
	margin-right: 10px;
	text-align: left;
	padding-left: 5px;
	padding-right:5px;
}
.dropdown-menu.drop-left .dropdown-submenu.pull-left > a:before {
	display: block;
	float: left;
	width: 0;
	height: 0;
	margin-top: 5px;
	margin-left: -10px;
	border-color: transparent;
	border-right-color: #CCC;
	border-style: solid;
	border-width: 5px 5px 5px 0px;
	content: " ";
}
.dropdown-menu.drop-left .dropdown-submenu.pull-left > a:after {
	display: none;
}
.dropdown-menu li.title {
	padding: 3px 20px;
	color: #444 !important;
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown-menu li > a {
	color: #0098aa !important;
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 0 !important;
	display: block;
	padding: 3px 20px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	color: #fff !important;
	background-color: #43AFB4;
	background-image: none;
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown-toggle {
    box-shadow: 1px 1px 2px #DDD !important;
}
.alert .close {
	position: relative;
	top: -5px;
}
.alert-error {
    border: 0;
	color: #b94a48 !important;
}
.alert-info {
	color: #444;
	background-color: #a8e4eb;
	border: 0;
	font-size: 12px;
    box-shadow: 1px 1px 2px #DDD;
}
.alert-info strong {
	color: #0098aa;
	margin-right: 5px;
}
.alert-info a, .alert-info a:hover {
    color: #0098aa !important;
    border-bottom-color: #0098aa !important;
}
#alert_holder_container {
    position: relative;
}
#alert_holder {
    position: absolute;
    z-index: 100;
    display: block;
    width: 500px;
    margin-left: -250px;
    left: 50%;
}
/* Allow 'error' to be directly applied to an input field */

.error.checkbox,
.error.radio,
input.error,
.error.input-prepend input,
.error.input-append input,
select.error,
textarea.error {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.checkbox.error:focus,
.radio.error:focus,
input.error:focus,
.error.input-prepend input:focus,
.error.input-append input:focus,
select.error:focus,
textarea.error:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.error.input-prepend .add-on,
.error.input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

/* Still overriding bootstrap's styles */
.btn-group .btn {
	font-size: 12px;
	color: inherit !important;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none !important;
}
.btn, a.btn {
	color: #555;
	border-radius: 3px;
	border: none;
    box-shadow: 1px 1px 2px #DDD;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	background-color: #EEE;
	background-image: linear-gradient(bottom, rgb(#188, 190, 192) 0%, rgb(230, 230, 230) 100%);
	background-image: -o-linear-gradient(bottom, rgb(#188, 190, 192) 0%, rgb(230, 230, 230) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(#188, 190, 192) 0%, rgb(230, 230, 230) 100%));
	background-image: -webkit-linear-gradient(bottom, rgb(#188, 190, 192) 0%, rgb(230, 230, 230) 100%));
	background-image: -ms-linear-gradient(bottom, rgb(#188, 190, 192) 0%, rgb(230, 230, 230) 100%));
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(188, 190, 192)),
		color-stop(1, rgb(230, 230, 230))
	);
	padding: 5px 15px;
	text-decoration: none;
}
.btn:hover {
    border: none;
    text-decoration: none;
    background-color: #BCBEC0;
}
.btn.btn-primary {
	color: #FFF;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif !important;
	border: none;
	background-color: #0098aa;
	background-image: linear-gradient(bottom, #0098AA 0%, #73CBD5 100%);
	background-image: -o-linear-gradient(bottom, #0098AA 0%, #73CBD5 100%);
	background-image: -moz-linear-gradient(bottom, #0098AA 0%, #73CBD5 100%);
	background-image: -webkit-linear-gradient(bottom, #0098AA 0%, #73CBD5 100%);
	background-image: -ms-linear-gradient(bottom, #0098AA 0%, #73CBD5 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #0099AA),
		color-stop(1, #73CBD5)
	);
}
.disabled, .disabled:hover, .volumeBox .disabled, button:disabled, button[disabled] .btn:disabled, .btn[disabled]{
	color: #A7A9AC !important;
	border-color: #A7A9AC !important;
	background: none !important;
	background-color: #F1F2F2 !important;
	cursor: default !important;
}
/* Loader gif */
.loader {
	background-image: url('../images/loader.gif') no-repeat;
	height: 20px;
	width: 20px;
}

/* Lefthand Sidebar */
#sidebar {
	text-align: center;
	position: relative;
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#new_instance_link {	/* Used for "Create New Instance" button in left menu*/
	margin-bottom: 5px;
	margin-left: auto;
	line-height: 21px;
	margin-right: auto;
}
#instance_link {
    position: relative;
}
#refresh_instances_button {
   position: absolute;
   top: 0;
   right: 10px; 
}
.createInstanceButton {
	display: block;
	width: 172px;
	padding: 6px 12px;
}

#total_cpu_time {
	position: absolute;
	bottom: 0;
	left: 10px;
	right: 10px;
	background-color: #FFF;
	padding: 10px 10px 10px 10px;
	box-sizing: border-box;
	opacity: 0.8;
	border-radius: 5px;
}
#menu_wrapper {			/* Wraps the entire menu, within #sidebar*/
	list-style: none;
    margin: 0;
    padding: 0;
}
#menu_wrapper > li > a {
	display: block;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 0px;
	color: #0098aa;
	font-weight: bold;
	font-size: 1.2em;
	border-left: 6px solid transparent;
}
#menu_wrapper > li > a:hover {
	text-decoration: none;
}
#menu_wrapper li.active li.active {
	background-image: url(../images/maindiv_bg.png);
	border-left: 6px solid #0098aa;
}
.link_list {			/* Used for each individual list (i.e. 'My Instances', 'My Volumes') */
	list-style-type: none;
	padding: 0px;
	margin: 0;
	overflow: auto;
}
.link_list > li {
	border-left: 6px solid transparent;
	margin-left: 0px;
}
.link_list > li:hover, .link_list_title:hover {
	cursor: pointer !important;
	border-left: 6px solid #43AFB4 !important;
}
#inst_new {
	background-image: none;
	padding: 0;
}
#inst_new a {
	color: #333;
	display: block;
	padding: 5px 0 5px 25px;
	text-decoration: none;
}
.link_list .rect-delete {
    position: absolute;
    top: 10px;
    right: 10px;
}
.link_list_title {
	text-align: left;
	color: #0098aa;
	font-weight: bold;
}
.link_list {
	text-align: left;
}
/* Sidebar list for Volumes */
#menu_wrapper .media {
    margin-top: 0;
}
#menu_wrapper .media .pull-left {
    width: 30px;
}
#menu_wrapper #volume_link_list li > div, #menu_wrapper #instance_link_list li > div {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 10px;
    position: relative;
}
#menu_wrapper li.active li.active > div {
    border-top: 1px solid #eee !important;
    border-bottom: 1px solid #eee !important;
}
#volume_link_list > li .volume_title {
	font-weight: bold;
}
#instance_link_list .instance_rect img.image_icon {
    border: 1px solid #ccc;
}
#volume_info_grid .image_icon, #main_icon {
	border: 1px solid #999;
	margin-right: 10px;
	float: left;
}
.instance_rect:hover, .active_instance:hover {
	cursor: pointer;
}
ul.instance_state_indicators {		/* Instance status indicators, in sidebar */
   padding: 0;
   margin: 0;
   list-style: none;
}
ul.instance_state_indicators li {
    padding: 0 0 0 21px;
}
.instance_rect .state_icon {
	position: relative;
	top: -3px;
}
.instance_rect .instance_state {
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left center;
}
.instance_rect .instance_state_is_build {
    background-image: url(../images/state_is_build.png);
}
.instance_rect .instance_state_is_active {
    background-image: url(../images/state_is_active.png);
}
.instance_rect .instance_state_is_inactive {
    background-image: url(../images/state_is_inactive.png);
}
.instance_rect .instance_state_is_delete {
    background-image: url(../images/state_is_delete.png);
}

/* Shell and VNC status indicators */
.instance_rect .instance_service {
    background: transparent url(../images/state_is_active.png) no-repeat scroll left center;
    margin-top: 5px;
}
.instance_rect .instance_service .terminate_shell, .instance_rect .instance_service .terminate_vnc {
    float: right;
}
#instance_details {
	margin: 0;
}
#instance_details dd {
    margin: 0 0 1em 0;
}

/* Instance Screen */
.instance_controls_container {
    text-align: right;
}
.nav-tabs > li {
	margin-bottom: -2px;
}
.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus {
	background-color: #41BDCC;
}
.nav-pills .active > a:hover {
	color: #FFF !important;
}
.nav-pills a {
	color: #0098aa;
}
.tab_instance_opts {
	text-align: right !important;
	margin-top: 10px;
}
.instance_graph .tab-content {
	overflow-x: hidden;
}
.tab-content {
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding: 10px; 
	position: relative; 
}
.instance_tabs a {
    text-decoration: none !important;
    border-bottom: 1px solid transparent !important;
}
.tab_disabled {
	color: #AAA !important;
}
.tab_disabled a {
	color: #AAA !important;
}
.tab_disabled:hover, .tab_disabled:hover {
	background-color: transparent !important;
    border: 1px solid transparent !important;
    cursor: default !important;
}
.resize_statuses {			/* Resize Instance Tab, within Instance Screen */
	background-color: #FFF;
	padding: 10px;
	border-radius: 3px;
}
.resize_statuses ul {
	list-style: none;
}
.resize_statuses li {
	line-height: 24px;
	font-size: 14px;
}
.resize_statuses li i {
	margin-left: -18px;
}
.resize_statuses .refresh {
	float: right;
}
.resize_statuses .refresh a {
	text-decoration: none;
	border-bottom: 0 !important;
}

#main .instance_graph .nav a {
    border-bottom-width: 0;
}

.rect-text {
	color: #666;
	margin-left: 80px;
}
.rect-text img {
	position: relative;
	top: -8px;
}
.rect-text b {
	color: #000;
	font-weight: 500;
}

.instance_graph {
	border-radius: 3px;
	padding: 10px;
	border: 1px solid #BBB;
}

/* Volume Screen */
#volume_transfer_info {
	text-align: center;
	position: relative;
	top: 3px;
    background: url(../images/left-arrow.png) top left no-repeat, url(../images/right-arrow.png) top right no-repeat;
}
#draggable_container {
	overflow: auto;
}
#draggable_instance_list, #draggable_volume_list {
	list-style: none;
	margin-left: 0px;
}
#draggable_instance_list li {
	background-color: #eee;
	padding: 10px 10px 10px 52px;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-bottom: 5px;
	border: 3px solid #fff;
    position: relative;
}
#draggable_instance_list li img.image_icon {
    border: 1px solid #ccc;
    position: absolute;
    left: 10px;
    top: 10px;
}
#draggable_instance_list li:hover {
	background-color: #c5edf2;
}
#draggable_volume_list {
	background-color: #fff;
    border: 1px dotted #CCC; 
    border-radius: 3px;
    width: 90%;
	padding: 10px;
	border-radius: 3px;
	min-height: 300px;
}
#draggable_volume_list li {
	background: url(../images/mini_vol.png) 12px 10px;
	background-repeat: no-repeat;
	padding-left: 36px !important;
	cursor: move;
	background-color: #eee;
	padding: 10px;
	border-radius: 3px;
	margin-bottom: 5px;
    z-index: 10;
}
#draggable_volume_list li > span, #draggable_instance_list li > span {
	cursor: pointer;
	float: right;
	line-height: 14px;
}
#draggable_instance_list li ul {
	list-style: none;
    margin: 10px 0 10px 0;
}
.droppable-highlight {
	background-color: #c5edf2 !important;
}
#draggable_instance_list h3 {
}
#draggable_instance_list li ul li { /* Inner volume list inside instance list item */
	padding: 10px;
	max-width: 200px;
	border-radius: 3px;
	background: url(../images/mini_vol.png) 12px 10px;
	background-repeat: no-repeat;
	padding-left: 36px !important;
	cursor: move;
	border: none !important; 
	background-color: #FFF !important;
}
#draggable_instance_list .attached:hover, #draggable_volume_list .unattached:hover {
	background-color: #96DBE2 !important;
}
.draggable_volume.attaching {
    opacity: 1; /* override jquery ui disabled dragging class */
}
.attached_volumes ul {
	list-style: none;
	margin: 0;
}
.volumeBox {
	border-radius: 3px;
	border: #999 1px solid;
	padding: 7px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px !important;
	margin-bottom: 5px;
	/* fallback */
	background-color: #DDD;
	background-image: linear-gradient(bottom, #DDD 0%, #FFF 100%);
	background-image: -o-linear-gradient(bottom, #DDD 0%, #FFF 100%);
	background-image: -moz-linear-gradient(bottom, #DDD 0%, #FFF 100%);
	background-image: -webkit-linear-gradient(bottom, #DDD 0%, #FFF 100%);
	background-image: -ms-linear-gradient(bottom, #DDD 0%, #FFF 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #DDD),
		color-stop(1, #FFF)
	);

}
.volumeBox:hover {
	background-color: #DDD;
	background-image: linear-gradient(bottom, #FFF 0%, #DDD 100%);
	background-image: -o-linear-gradient(bottom, #FFF 0%, #DDD 100%);
	background-image: -moz-linear-gradient(bottom, #FFF 0%, #DDD 100%);
	background-image: -webkit-linear-gradient(bottom, #FFF 0%, #DDD 100%);
	background-image: -ms-linear-gradient(bottom, #FFF 0%, #DDD 100%);
	font-size: 11px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FFF),
		color-stop(1, #DDD)
	);
	cursor: pointer;
}
.volumeBox b {
	margin-left: 10px;
	font-weight: normal;
}
.volumeBox img {
	position: relative;
}
.volumeBox ul {
	display: none;
	min-width: 100px;
	color: #444;
	border: 1px solid #999;
	padding: 5px;
	background-color: #FFF;
	position: relative;
	right: 85px;
	top: 25px;
	border-radius: 3px;
	border: #999 1px solid;
	text-align: center;
}
.volumeBox ul:hover {
	background-color: #EEE;
	cursor: pointer;
	color: #000;
}
.volumeOpts {
	float: right;
	background-image: url("../images/mini_vol_opts.png");
	background-repeat: no-repeat;
	background-position: 0 3px;
	height: 20px;
	width: 20px;
}
.volumeOpts ul {
	display: none;
}

#volumes_list {			/* List of volumes on the volumes screen */
	list-style: none;
	margin: 0 10px 0 0;
}
#volumes_list li.volumeBox {
	padding-left: 30px;
	position: relative;
}
#volumes_list li.volumeBox.active {
	border: 1px solid #000;
}
#volumes_list li img {
	position: absolute;
	left: 7px; 
	top: 6px;
}
#volumes_list li span.volume_size {
	float: right;
}
#request_image_btn {
	height: 37px;
}
#volume_size {			/* New Volume form */
	width: 90px;
}

/* Page for users without instances*/
.option {
	font-size: 13px !important;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #FFF; 
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	border: 1px solid rgb(241, 241, 241) !important;
	padding: 20px;
	text-align: center !important;
	margin-bottom: 20px;
	color: #555 !important;
	font-weight: normal !important;
	text-decoration: none;
	display: block;
	line-height: 16px;
	min-height: 230px;
}
.option hr {
	border: 1px solid #EEE !important;
}
.option strong {
	color: #0098aa;
	font-weight: normal;
}
.option img {
	text-align: center !important;
	margin-bottom: 10px;
}
.option:visited {
	border: 1px solid rgb(241, 241, 241);
}
.option:visited hr {
	border: 1px solid #aaa;
}
.option:hover, .option:hover hr {
	text-decoration: none !important;
	cursor: pointer;
}
.option a, .option a:hover, .option a:visited {
	text-decoration: none !important;
    border: 0 !important;
    background-color: #EEE;
}
img.terminate_shell, img.terminate_vnc {
	margin-left: 7px;
	position: relative;
}

/* New Instance Screen*/
#newinst_name_title {			/* Available images */
	display: inline;
}
#help_image_search {
   position: absolute;
   right: 0;
   top: 5px;
}
#image_search {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
#instance_search_holder, #image_search_holder {
	vertical-align: text-bottom;
	white-space: nowrap;
}
#image_search_holder {
	position: relative;
}
#image_search_input {
	margin-right: 22px;	
}
#image_search_holder input {
	width: 100%;
	box-sizing: border-box;
}
#instance_search_holder {
	text-align: right;
}
#image_holder {
	overflow: auto;
	overflow-x: hidden;
}
.image_list {
	list-style: none;
	margin: 0 10px 0 0;
   padding: 0;
}
.image_list > li {
	padding: 5px 0;
	cursor: pointer;
    overflow: hidden;
}
.image_list > li::before, .image_list > li::after {
	display: table;
	content: "";
}
.image_list > li::after {
	clear: both;
}
.image_list > li:hover {
	background-color: #eee;
}
.image_list > li.active {
	background-color: #c5edf2;
}
.image_list > li .image_icon_container {
	width: 65px;
	height: 50px;
	float: left;
}
.image_list > li img {
	margin-left: 5px;
    border: 1px solid #DDD;
}
.image_list > li .image_info {
	margin-top: 5px;
	margin-left: 65px;
}
.image_list > li .image_name {
	display: block;
	font-size: 1.2em;
}
.image_list > li .image_id {
	color: #999;
}
.image_list > li[data-tags~="Application"] {
}

/* Tags */
div.tagger {
}
ul.tag_list {
	list-style: none;
    margin: 0;
	padding: 0;
	float: left;
}
ul.tag_list > li {
	height: 22px;
}
ul.tag_list > li, ul.tag_list > li > a {
	float: left;
	left: 5px;
	line-height: 18px;
	position: relative;
	font-size: 10px;
    margin: 0 7px 0 0;
}
ul.tag_list > li[data-tag] > a {
    margin-top: 1px;
}
.tag_list a {
	margin-left:15px;
	padding:0 10px 0 12px;
	background:#0FAEBA;
	color:#fff !important;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;	
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;	
	border-top-right-radius:4px;	
}
.tag_list a span {
	background: #fff;
	color: #0098aa;
	margin-left: 5px;
	border-radius: 6px;
	padding: 0px 4px;
	margin-right: -8px;
}
.tag_list a span:hover {
	background: #EEE;
	color: #db6619;
}
.tag_list a:before {
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-8px;
	width:0;
	height:0;
	border-color:transparent #0FAEBA transparent transparent;
	border-style:solid;
	border-width:10px 8px 9px 0;		
}
.tag_list a:after {
	content:"";
	position:absolute;
	top:8px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #0098aa;
	-webkit-box-shadow:-1px -1px 2px #0098aa;
	box-shadow:-1px -1px 2px #0098aa;	
}
.tag_list .tag_adder, .save_edit_button {
	background: #444;
	color: #FFF !important;
	font-weight: normal;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
    border: 0 !important;
	font-size: 10px;
	line-height: 18px;
	padding: 1px 8px;
	border-radius:2px;
    position: relative;
    left: 0px;
}
.tag_list .tag_adder:before {
	border-color: transparent;
}
.tag_list .tag_adder:after {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	content: none;	
}
.tag_list .tag_adder:hover {
	background-color: #555;
	text-decoration: none;
}
.tag_list .tag_adder:hover:before {
	border: none;
}
.tag_list a:hover {
	background-color: #0098aa;
	text-decoration: none;
}
.tag_list a:hover:before {
	border-color: transparent #0098aa transparent transparent;
}
/* Tag controls */
ul.tag_list > li.tag_controls {
    margin: 0;
}
.add_tag_button, .done_tagging_button {
	font-size: 10px; 
    margin: 0 0 0 2px;
	background-color: #444; 
	line-height: 18px; 
	height: 18px; 
	color: #fff; 
	border-radius: 2px; 
	float: left; 
	padding: 2px 6px;
}
.add_tag_button:hover, .done_tagging_button:hover {
	cursor: pointer;
}
.tag_controls form {
	float: left;
    margin: 0;
}
.tag_controls input {
	width: 100px;
    padding: 0 2px;
    margin: 0;
}
/* Instance Tags Auto-suggest*/
.suggested_tags_holder {
	position: absolute; 
	top: 26px; 
	left: -25px; 
	border-radius: 2px; 
	border: 1px solid black; 
	background-color: #fff; 
	display: none;
	height: 100px;
	width: 220px;
	overflow: auto;
    z-index: 2;
	list-style: none;
}
.suggested_tags_holder li {
	padding: 5px;
	border-bottom: 1px solid #999;
}
.suggested_tags_holder li:hover {
	background-color: #0098aa;
	cursor: pointer;
	color: #fff;
}
#selected_image_info {
	overflow-y: auto;
}
#selected_image_info_container h1 {
	margin-bottom: .5em;
}
#selected_image_icon_container {
	float: left;
	height: 50px; 
	width: 50px; 
	margin-right: 10px; 
	text-align: center; 
	color: #999; 
	background-color: #EEE; 
	position: relative; 
	float: left;
}

/* Tag container on Selected Instance pg */
#instance_tags {
	margin-left: 5px;
	position: relative;
}
div.img_icon {
	min-width: 60px;
	text-align: center;
}
div.img_icon:hover {
	background: #e5e5e5;
}
div.img_icon.active {
	background: #D0EAF4;
}
img.icon {
	padding: 10px 10px 0;
}	
div.img_name {
	height: 4.5em;
	overflow: hidden;
}

/* Instance Launch Screen -- instance information */
#size_info {
	width: 100%
}
#size_info th {
	text-align: left;
}
#size_info td {
	width: 20%;
	text-align: center;
}
#description {
	width: 490px;
	height: 6em;
}
#image_customlaunch #launchInstance {
	float: left;
}
#image_customlaunch .loader {
	float: left;	
	margin-left: 10px;
}

/* Graph Classes used for Allocations */
.graphBar {
	color: #FFF;
	size: 0.5em;
	line-height: 0.9em;
	border: 1px solid #DDD;
	background-image: linear-gradient(bottom, #FFF 0%, #F1F1F1 100%);
	background-image: -o-linear-gradient(bottom, #FFF 0%, #F1F1F1 100%);
	background-image: -moz-linear-gradient(bottom, #FFF 0%, #F1F1F1 100%);
	background-image: -webkit-linear-gradient(bottom, #FFF 0%, #F1F1F1 100%);
	background-image: -ms-linear-gradient(bottom, #FFF 0%, #F1F1F1 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #FFF),
		color-stop(1, #F1F1F1)
	);
	height: 34px;
	padding: 2px;
	border-radius: 3px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.greenGraphBar {
	transition: width 2s;
	box-sizing: border-box;
	background-color: #76AA42;
	border-radius: 3px;
	background-image: linear-gradient(bottom, #76AA42 0%, #AED369 100%);
	background-image: -o-linear-gradient(bottom, #76AA42 0%, #AED369 100%);
	background-image: -moz-linear-gradient(bottom, #76AA42 0%, #AED369 100%);
	background-image: -webkit-linear-gradient(bottom, #76AA42 0%, #AED369 100%);
	background-image: -ms-linear-gradient(bottom, #76AA42 0%, #AED369 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #76AA42),
		color-stop(1, #AED369)
	);
	height: 100%;	
	float: left;
	padding-top: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.blueGraphBar {
	transition: width 2s;
	box-sizing: border-box;
	background-color: rgb(79, 189, 204);
	border-radius: 3px;
	height: 100%;	
	float: left;
	padding-top: 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.greenGraphBar.active, .orangeGraphBar.active, .redGraphBar.active, .blueGraphBar.active {
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent)); 
	background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	-webkit-background-size: 40px 40px;
	-moz-background-size: 40px 40px;
	-ms-background-size: 40px 40px;
	-o-background-size: 40px 40px;
	-webkit-animation: progress-bar-stripes 2s linear infinite;
	-moz-animation: progress-bar-stripes 2s linear infinite;
	-ms-animation: progress-bar-stripes 2s linear infinite;
	-o-animation: progress-bar-stripes 2s linear infinite;
	animation: progress-bar-stripes 2s linear infinite;
}
.active.positive-stripes {
  linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent)

  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);

  -webkit-animation: animate-stripes-forward 2s linear infinite;
  -moz-animation: animate-stripes-forward 2s linear infinite;
  animation: animate-stripes-forward 2s linear infinite;

}

/* TODO: Maybe move these animations elsewhere */
/* TODO: Test all web browsers to ensure this works.. */
@-webkit-keyframes animate-stripes-forward { 
    0% {background-position: 0 0;} 100% {background-position: 40px 0;}
}
@-moz-keyframes progress-bar-stripes { 
    0% {background-position: 0 0;} 100% {background-position: 40px 0;}
}

@keyframes progress-bar-stripes { 
    0% {background-position: 0 0;} 100% {background-position: 40px 0;}
}
/**
 * TODO: Remove this if the above keyframes works..
@keyframes progress-bar-stripes { 
    from { background-position: 0 0 }

    to { background-position: 40px 0 }
}
*/

.orangeGraphBar {
	transition: width 2s;
	background-color: #DA6727;
	box-sizing: border-box;
	border-radius: 3px;
	padding-top: 8px;
	background-image: linear-gradient(bottom, #DA6727 0%, #FBB040 100%);
	background-image: -o-linear-gradient(bottom, #DA6727 0%, #FBB040 100%);
	background-image: -moz-linear-gradient(bottom, #DA6727 0%, #FBB040 100%);
	background-image: -webkit-linear-gradient(bottom, #DA6727 0%, #FBB040 100%);
	background-image: -ms-linear-gradient(bottom, #DA6727 0%, #FBB040 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #DA6727),
		color-stop(1, #FBB040)
	);
	height: 100%;	
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.redGraphBar {
	transition: width 2s;
	background-color: #960606;
	box-sizing: border-box;
	border-radius: 3px;
	padding-top: 8px;
	background-image: linear-gradient(bottom, #960606 0%, #EF4136 100%);
	background-image: -o-linear-gradient(bottom, #960606 0%, #EF4136 100%);
	background-image: -moz-linear-gradient(bottom, #960606 0%, #EF4136 100%);
	background-image: -webkit-linear-gradient(bottom, #960606 0%, #EF4136 100%);
	background-image: -ms-linear-gradient(bottom, #960606 0%, #EF4136 100%);
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, #960606),
		color-stop(1, #EF4136)
	);
	height: 100%;
	float: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.greenGraphBar > span, .orangeGraphBar > span, .redGraphBar span {
    margin-left: 8px;
}
.barFlushLeft {
	transition: width 2s;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}
.addedUsageBar {
opacity: .5;
	transition: width 2s;
	-webkit-transition: width 2s;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	border-left: 0px;
	float: left;
	display: inline;
	line-height: 0.7em;
}

#cpuHolder, #cpuHolder_info, #diskHolder, #diskHolder_info, #memHolder, #memHolder_info, #disk_countHolder, #disk_countHolder_info {
	margin-right: auto;
	margin-left: auto;
}
#cpuHolder_info, #memHolder_info, #diskHolder_info, #disk_countHolder_info {
	height: 2em;
	white-space: normal;
	margin-bottom: 1em;
}
#resource_usage_holder {
	font-size: 12px;
	font-family: Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin-bottom: 20px;
}

/* Profile/Settings/Preferences Page */
a.thumbnail:hover {
    border-color: #00b6cc;
}
a.selected.thumbnail {
    border-color: #0098aa;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    -moz-box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}
.provider_controls {
    float: left;
    margin-right: 10px;
}
#control_radio_button{
   margin: 0px;
}
img.gravatar {
	float: left;
	margin-right: 10px;
}
table.image-table {
	background-color: #FFF;
	box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
.image-table thead td {
	font-weight: bold;
}
.image-table img.gravatar {
	float: none;
}
.table.image-table td {
	vertical-align: middle;
}
.image-table tr.image-details {
	display: none;
	background-color: rgb(247, 251, 252);
}
.image-table tr.image-overview {
	cursor: pointer;
}
.image-table tr.image-overview td {
	position: relative;
}
.image-table tr.image-overview td .caret {
	position: relative;
	top: 8px;
	right: 10px;
	float: right;
	display: block;
}
.image-table em {
	margin-left: 5px;
	color: #999;
}
.image-table td.actions a {
	margin-right: 12px; 
	color: #333;
	border: 1px solid #eee !important;
	padding: 5px;
	border-radius: 3px;
}
.image-table td.actions a:hover {
	background-color: rgb(245, 245, 245) !important;
	color: #000 !important;
}
.image-table td.actions a > i {
	margin-right: 8px;
}
#providers_menu i.maint-icon {
    margin-left: 0px;
}
#main a i.maint-icon {
    margin-left: 14px;
}
.bottom-half-settings{
   margin-top: 30px;
}


/* DROPDOWN SUBMENU ADDED BECAUSE IT WAS DEPRICATED IN BOOTSTRAP 3.0*/

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


/* http://www.designcouch.com/home/why/2013/05/23/dead-simple-pure-css-loading-spinner/ */
.loading {
    height:60px;
    width:60px;
    margin: 0 auto;
    position:relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left:6px solid rgba(0, 152, 170, .15);
    border-right:6px solid rgba(0, 152, 170, .15);
    border-bottom:6px solid rgba(0, 152, 170, .15);
    border-top:6px solid rgba(0, 152, 170, .8);
    
    border-radius:100%;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}

@-moz-keyframes rotation {
    from {-moz-transform: rotate(0deg);}
    to {-moz-transform: rotate(359deg);}
}

@-o-keyframes rotation {
    from {-o-transform: rotate(0deg);}
    to {-o-transform: rotate(359deg);}
}

@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}
