/* Graph styles */
.instance_graph path {
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}
.instance_graph path.cube_graph_path_ram {
	/*stroke: #f7941e;	*/
	stroke: #74CCD5;
}
.instance_graph path.cube_graph_path_disk {
	/*stroke: #f9e341;	*/
	stroke: #125068;
}
.instance_graph path.cube_graph_path_load {
	/*stroke: #ef4136;	*/
	stroke: #5D3389;
}
.instance_graph ul.cube_graph_legend {
	list-style: none;
	text-align: center;
}
.instance_graph ul.cube_graph_legend li {
	display: inline;
	margin-right: 1.5em;
	position: relative;
	padding-left: 1.5em;
}
.instance_graph ul.cube_graph_legend li:before {
	width: 1em;
	height: 1em;
	display: block;
	content: ' ';
	position: absolute;
	left: 0;
	top: 0;
}
.instance_graph li.cube_graph_legend_ram:before {
	background-color: #74CCD5;
}
.instance_graph li.cube_graph_legend_disk:before {
	background-color: #125068;
}
.instance_graph li.cube_graph_legend_load:before {
	background-color: #5D3389;
}
 
.instance_graph line {
    stroke: black;
}
 
.instance_graph text {
    font-family: Arial;
    font-size: 9pt;
}
