<div class="media">
    <div class="pull-left">
        <img class="image-big-icon media-object" src="" />
        <a href="#" class="btn btn-primary btn-large launch-instance-btn">Launch Instance</a>
    </div>
    <div class="media-body">
        <h1><%= name_or_id %></h1>
        <ul class="image-details-list">
            <li>Author: <a href="#images/search/author:<%= ownerid %>"><%= ownerid %></a></li>
            <li>ID: <%= alias %></li>
            <li>Created: <%= create_date.toString("MMM d, yyyy") %></li>
        </ul>
        <h2>Description</h2>
        <p><%= description %></p>
        <h2>Tags</h2>
    </div>
</div>
