{% spaceless %}
{% if support_email_header %}
{{ support_email_header|safe }}
{% endif %}
{%if approved%}
Your image request has been approved! The imaging process will
begin shortly.
{%else%}
Your image request has been received. Upon staff approval, we will send you an e-mail to let you know that the the imaging process will begin shortly.
{%endif%}
{% endspaceless %}

When the imaging process has completed, you will receive an email with
details about the new image.

Your Image Request:
Username : {{user.username}}
Full Name: {{user.get_full_name}}
Instance ID: {{request.instance.provider_alias}}
---
New Application: {{request.new_version_fork}}
Application Name: {{request.new_application_name}}
Application Description: {{request.new_application_description}}
Application Tags: {{request.new_version_tags}}
Application Visibility: {{request.new_application_visibility}}
Shared with (Private only): {{request.access_list}}
---
Version Name: {{request.new_version_name}}
Version Change Log: {{request.new_version_change_log}}
Version Scripts: {{request.new_version_scripts.count}}
Version Licenses: {{request.new_version_scripts.count}}
---
Excluded Files: {{request.exclude_files}}

If you have any additional questions, please contact: {{ support_email }}
{% spaceless %}
{% if support_email_footer %}
{{ support_email_footer|safe }}
{% endif %}
{% endspaceless %}
