Username: {{ username }} ({{ name }})
{% if problems %}
Problems: 
    {{ problems|join("\n")|indent(4, false) }}
{% endif %}
Details: 
    {{ message }}

Instance:
    Name: {{ instance.name }}
    {%- if status %}
    Status: {{ status.status }} since {{ status.start_date.date() }}
    {% endif -%}
    UUID: {{ instance.provider_alias }}
    Image: {{ instance.provider_machine.identifier }}
    IP: {{ instance.ip_address }}

Provider: {{ provider }}

User-interface: {{ ui }}

Server: {{ server }}

{% include "fingerprint.html" %}
