Username : {{ username }} ({{ name|safe }})
{% if problems %}
Problems :
    {{ problems|join("\n")|indent(4, false)|safe }}
{% endif %}
Details :
    {{ message|safe }}

Instance :
    Name : {{ instance.name|safe }}
    {%- if status %}
    Status : {{ status.status }} since {{ status.start_date.date() }}
    {% endif -%}
    UUID : {{ instance.provider_alias }}
    Image : {{ instance.provider_machine.identifier }}
    IP : {{ instance.ip_address }}

Provider :
    Location: {{ provider.location }}
    UUID: {{ provider.uuid }}

User-interface : {{ ui }}

Server : {{ server }}

{% include "fingerprint.html" %}
