Welcome {{user}},<br/><br/>
You have been granted access to the {{provider}} provider on Atmosphere.
Instructions to change to a new provider can be found on <a href="https://pods.iplantcollaborative.org/wiki">this page</a>.
<br/>
<br/>
If you have questions or encounter technical issues while using {{provider}}, you can
browse and post questions to <a href="https://pods.iplantcollaborative.org/wiki/display/atmman/Changing+Providers">iPlant Ask</a> or contact support@iplantcollaborative.org.
<br/>
Thank you,<br/>
iPlant Atmosphere Team
