Welcome {{user}},<br/><br/>
You have been granted access to the {{provider}} provider on Atmosphere.
{% if credentials_list %}
<br/>
Your credentials are:
{% for credential in credential s %}
  {{ credential.key }}: {{credential.value }}
{% endfor %}
{% endif %}
<br/>
Additional information about how to use the new provider and credentials can be found <a href="{{new_provider_link}}">here.</a> For additional information or questions please contact {{support_email}}.
<br/>
Thank you,<br/>
{{support_email_signature}}
