location /robots.txt {
   alias {{ ATMOSPHERE_PATH }}/static/templates/robots.txt;
}

location / {
   # Redirect to home page
   if ($request_uri ~ "^/$") {
      return 301 https://$host/application;
   }
   uwsgi_read_timeout 300;
   uwsgi_pass unix:///tmp/atmosphere.sock;
}
