   <div class="modal-dialog">
   <div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h2>Restore a Volume</h2>
	</div>
	<div class="modal-body">
		<p>
	
			<form name="backup_volume_form">
				<table class="table">
					<thead>
						<tr>
							<th>Backup Name</th>
							<th>Origin Volume ID</th>
							<th>Date Backed-up</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="3">No existing backups</td>
						</tr>
					</tbody>
				</table>

				<label for="destination_volume">Destination Volume</label>
				<select name="destination_volume">
					<option disabled="disabled">No Volumes</option>
				</select>
			</form>
			<p class="alert alert-error">
				<i class="icon-warning-sign"></i> <strong>WARNING</strong> Volume restoration will <u>completely</u> overwrite contents of destination volume.
			</p>
		</p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Cancel</a>
		<a href="#" class="btn btn-primary" id="confirm_restore">Restore volume and overwrite</a>
	</div>
   </div>
   </div>
