<ul class="nav nav-tabs instance_tabs">
	<li class="active"><a href="#instance_info_<%= id %>" class="instance_info_tab" data-toggle="tab">Instance Details</a></li>
	<li><a href="#instance_shell_<%= id %>" class="instance_shell_tab" data-toggle="tab" class="tab_disabled">Access via Shell</a></li>
	<li><a href="#instance_vnc_<%= id %>" class="instance_vnc_tab" data-toggle="tab" class="tab_disabled">Access via VNC</a></li>
	<li><a href="#resize_instance_<%= id %>" class="resize_instance_tab disabled" data-toggle="tab" disabled="disabled" style="display: none">Resize Instance</a></li>
	<li><a href="#request_imaging_<%= id %>" class="request_imaging_tab" data-toggle="tab" style="display: none">Request Imaging</a></li>
	<li><a href="#report_instance_<%= id %>" class="report_instance_tab" data-toggle="tab" style="display: none">Report Instance</a></li>
</ul>

<div class="tab-content">
	<div class="tab-pane active instance_info" id="instance_info_<%= id %>"></div>
	<div class="tab-pane instance_shell" id="instance_shell_<%= id %>"></div>
	<div class="tab-pane instance_vnc" id="instance_vnc_<%= id %>"></div>
	<div class="tab-pane resize_instance" id="resize_instance_<%= id %>"></div>
	<div class="tab-pane request_imaging" id="request_imaging_<%= id %>"></div>
	<div class="tab-pane report_instance" id="report_instance_<%= id %>"></div>
</div>
