<h2>My Resource Usage
    <a class="context-helper" id="help_resource_usage"><i class="glyphicon glyphicon-question-sign"></i></a>
    <a class="context-helper" id="help_request_more_resources"><i class="glyphicon glyphicon-tasks"></i> Request More Resources</a>
</h2>
<div class="row" id="resource_usage_holder">
	<div class="col-sm-4">
		<div id="allocationHolder"></div>
		<div id="allocationHolder_info"></div>
	</div>
	<div class="col-sm-4">
		<div id="cpuHolder"></div>
		<div id="cpuHolder_info"></div>
	</div>
	<div class="col-sm-4">
		<div id="memHolder"></div>
		<div id="memHolder_info"></div>
	</div>
</div>
<div id="instance_holder">
<!--
	<div id="instance_tabs_holder">
	</div>
-->
</div>
