<div style="text-align: center; margin: 50px;"><h1>Welcome to Atmosphere!</h1></div>
<div class="row">
	<div class="col-sm-3">
		&nbsp;
	</div>
	<div class="col-sm-2">
		<a href="#new_instance" class="option">
			<img src="<%= site_root %>/resources/images/icon_launchnewinstance.png" /><br />
			<strong>Launch New Instance</strong>
			<hr />
			Browse Atmosphere's list of available images and select one to launch a new instance.
		</a>
	</div>

	<div class="col-sm-2">
		<a class="option" href="https://pods.iplantcollaborative.org/wiki/x/Iaxm" target="_blank">
			<img src="<%= site_root %>/resources/images/icon_gethelp.png" /><br />
			<strong>Browse Help Resources</strong>
			<hr />
			View a video tutorial, read the how-to guides, or email the Atmosphere support team.
		</a>
	</div>

	<div class="col-sm-2">
		<a class="option" href="#settings">
			<img src="<%= site_root %>/resources/images/icon_settings.png" /><br />
			<strong>Change Your Settings</strong>
			<hr />
			Modify your account settings, view your resource quota, or request more resources.
		</a>
	</div>

	<div class="col-sm-3">
		&nbsp;
	</div>
</div>



