<div class="row">
	<div class="col-sm-6">
		<img class="image_icon" id="main_icon" src="<%= image_url %>" />

		<h2 class="editable" data-type="instance_name"><%= name_or_id %> </h2>
        <span id="instance-ip-span"><%= public_dns_name %></span>
	</div>

	<div class="col-sm-6 instance_controls_container" id="euca_controls" style="display: none">
		<div class="btn-group" style="display: inline-block; margin-bottom: 5px;">		
			<button class="btn request_imaging_btn" title="Request Imaging"><i class="glyphicon glyphicon-camera"></i> Image</button>
			<button class="btn report_instance_btn" title="Report Broken Instance"><i class="glyphicon glyphicon-inbox"></i> Report</button>
			<button class="btn reboot_instance_btn" title="Reboot Instance"><i class="glyphicon glyphicon-repeat"></i>Reboot</button>
			<button class="btn terminate_instance" title="Terminate Instance"><i class="glyphicon glyphicon-remove"></i> Terminate</button>
		</div>
    </div>

	<div class="col-sm-6 instance_controls_container" id="openstack_controls" style="display: none">
		<div class="btn-group" style="display: inline-block; margin-bottom: 5px;">		
			<button class="btn start_stop_instance_btn" title="Stop Instance"><i class="glyphicon glyphicon-stop"></i> Stop</button>
			<button class="btn suspend_resume_instance_btn" title="Suspend Instance"><i class="glyphicon glyphicon-pause"></i> Suspend</button>
			<!--button class="btn reboot_instance_btn" title="Reboot
            Instance"><i class="glyphicon glyphicon-repeat"></i>
            Reboot</button-->
			<div class="btn-group">
               <button class="btn reboot_instance_btn" title="Reboot Instance"><i class="glyphicon glyphicon-repeat"></i> Reboot</button>
               <button type="button" class="btn hard_reboot_instance_dropdown dropdown-toggle"  data-toggle="dropdown"> 
                  <span class="caret"></span> 
                  <span class="sr-only">Toggle Dropdown</span>
               </button>
               <ul class="dropdown-menu pull-left" role="menu">
                  <li><a class="hard_reboot_instance_btn"
                  style="text-align:left;" href="#">Hard Reboot</a><li>
               </ul>
            </div>
            <button class="btn terminate_instance" title="Terminate Instance"><i class="glyphicon glyphicon-remove"></i> Terminate</button>
		</div>
		<div class="btn-group">
			<!--<button class="btn console_instance_btn" title="Launch Instance Console"><i class="glyphicon glyphicon-new-window"></i> Launch Console</button>-->
			<button class="btn resize_instance_btn disabled" disabled="disabled" title="Resize Instance"><i class="glyphicon glyphicon-resize-full"></i> Resize</button>
			<button class="btn request_imaging_btn" title="Request Imaging"><i class="glyphicon glyphicon-camera"></i> Image</button>
			<button class="btn report_instance_btn" title="Report Broken Instance"><i class="glyphicon glyphicon-inbox"></i> Report</button>
		</div>
    </div>
</div>

<div class="row">
	<div class="col-sm-3">
        <Br />
		<dl id="instance_details">
          <dt>ID:</dt> <dd><%= id %></dd>
          <dt>Based on Image:</dt> <dd><%= image_name %><br />(<%= image_id %>)</dd>
          <dt>Size:</dt> <dd class="instance_size"><%= type %></dd>
          <dt>Date Launched:</dt> <dd><%= launch_time.toString("MMM d, yyyy") %> (<%= launch_relative %>)</dd>
          <dt>Tags:</dt> <dd>
            <div id="instance_tags" class="row-fluid" style="position: relative">
            </div>
            </dd>
        </dl>
	</div>

	<div class="col-sm-9">
        <h3>Instance Metrics</h3>
		<div class="instance_graph" data-instance_id="<%= id %>"></div>
	</div>
</div>
