<h2>My Resource Usage
    <a class="context-helper" id="help_resource_usage"><i class="icon-question-sign"></i></a>
</h2>
<div class="row-fluid" id="resource_usage_holder">
	<div class="span6">
		<div id="cpuHolder"></div>
		<div id="cpuHolder_info"></div>
	</div>
	<div class="span6">
		<div id="memHolder"></div>
		<div id="memHolder_info"></div>
	</div>
</div>
    <a class="context-helper" id="help_request_more_resources" style="float: right;"><i class="icon-tasks"></i> Request More Resources</a>
<div id="instance_holder">
<!--
	<div id="instance_tabs_holder">
	</div>
-->
</div>
