<h1>Report Instance</h1>

<p class="alert alert-info"><i class="icon-info-sign"></i> First, it may help to read about <a href="https://pods.iplantcollaborative.org/wiki/x/Blm" target="_blank">using instances</a> or <a href="https://pods.iplantcollaborative.org/wiki/x/p55y" target="_blank">troubleshooting instances</a> for answers to common problems.</p>

<form name="report_instance_form">
    <div class="control-group">
        <label for="problem_type">What problem(s) are you having with this instance?</label>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <label class="checkbox">
                    <input type="checkbox" value="Cannot connect via SSH" /> I cannot connect via SSH.
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="Cannot connect via VNC" /> I cannot connect via VNC.
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="Instance's status never changed" /> The instance's status never changed from pending to running. 
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="Running/installing software" /> I am receiving errors while trying to run or install software.
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="No instance metrics." /> The instance's metrics do not display.
                </label>
                <label class="checkbox">
                    <input type="checkbox" value="Other" /> Other problem(s).
                </label>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label for="problem_description">Please provide as many details about the problem as possible.</label>
        <div class="row">
            <div class="col-sm-11 col-sm-offset-1">
                <textarea name="problem_description" style="width: 80%" rows="8"></textarea>
            </div>
        </div>
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-primary report_instance_submit" value="Report this Instance" />
        </form>
    </div>
</form>
