<h1>Resize Instance</h1>

<form>

	<label for="new_instance_size">New Size</label>
	<select name="new_instance_size">
		<option disabled="disabled">Instance Sizes Unavailable</option>
	<select>

	<label for="predicted_cpu_usage">Predicted CPU Usage</label>
	<label for="predicted_mem_usage">Predicted Memory Usage</label>

	<p class="alert alert-error">
		<i class="icon-warning-sign"></i> <strong>IMPORTANT</strong> An instance will restart itself while it resizes. This process could take several hours.
	</p>

</form>
