<h1>Resize Instance</h1>

<form>
	<p class="alert alert-error">
		<i class="icon-warning-sign"></i> <strong>IMPORTANT</strong> An instance will restart itself after it resizes.
	</p>

    <div class="row-fluid" id="resource_usage_holder">
        <div class="span6">
			<label for="predicted_cpu_usage">Predicted CPU Usage</label>
            <div id="cpuHolder"></div>
            <div id="cpuHolder_info"></div>
        </div>
        <div class="span6">
			<label for="predicted_mem_usage">Predicted Memory Usage</label>
            <div id="memHolder"></div>
            <div id="memHolder_info"></div>
        </div>
    </div>

	<label for="new_instance_size">New Size</label>
	<select name="new_instance_size">
		<option disabled="disabled">Instance Sizes Unavailable</option>
	</select>

	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Resize Instance" />
	</div>

</form>
