<div class="resize_instance">
	<h1>Resize Instance</h1>
	<p class="alert alert-info">
		<i class="icon-info-sign"></i> <strong>IMPORTANT</strong> Instances restart during the resize process. Once it completes, you will need to test the instance by logging in, and then verify that the instance is functioning properly.
	</p>
	<form class="resize_instance_form">
    <div class="row" id="resource_usage_holder">
		<div class="col-sm-6 col-sm-offset-1">
			<img class="image_icon" id="main_icon" src="<%= image_url %>" />

			<h2 data-type="instance_name"><%= name_or_id %> <small>(<%= public_dns_name %>)</small></h2>
			Current size: <span class="instance_size"><%= size_alias %></span>

			<hr />
			<label for="predicted_cpu_usage">Predicted CPU Usage</label>
			<div id="cpuHolder"></div>
			<div id="cpuHolder_info"></div>

			<label for="predicted_mem_usage">Predicted Memory Usage</label>
			<div id="memHolder"></div>
			<div id="memHolder_info"></div>

			<label for="new_instance_size">New Size</label>
			<select name="new_instance_size">
				<option disabled="disabled">Instance Sizes Unavailable</option>
			</select>
		</div>
	</div>


	<div class="form-actions">
		<input type="submit" class="btn btn-primary" value="Resize Instance" />
		</form>
	</div>
</div>

<div class="resizing_instance" style="display: none">
	<h1>Instance is Resizing</h1>

	<p class="alert alert-info">
		<i class="glyphicon glyphicon-info-sign"></i>
        <strong>IMPORTANT</strong> Once it
        completes, the instance will be tested for SSH connectivity to verify
        it is functioning properly. Then the instance will be confirmed and
        re-deployed.

	</p>

	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="resize_statuses">
				<img class="image_icon" id="main_icon" src="<%= image_url %>" />

				<h2 data-type="instance_name"><%= name_or_id %> <small>(<%= public_dns_name %>)</small></h2>
				Current size: <span class="instance_size"><%= size_alias %></span>

				<hr />

				<div class="refresh">
					<a href="#"><i class="icon-refresh"></i> Check Status</a>
				</div>

				<ul>
					<li> Prepared</li>
					<li> Migrated (I)</li>
					<li> Migrated (II)</li>
					<li> Finished Migration</li>
                    <li> Verified Resize</li>
				</ul>
			</div>
		</div>
	</div>

</div>
<div class="verify_resize" style="display: none">
	<h1>Instance Resize Finalization</h1>
    <p class="alert alert-info">
		<i class="icon-info-sign"></i> <strong>IMPORTANT</strong> Once it
        complete, the instance will be tested for SSH connectivity to verify
        it is functioning properly. Then the instance will be confirmed and
        re-deployed.
    </p>

</div>
