[Unit]
Description=Deals with the workflow associated with running atmosphere as a service
Requires=celeryd.service celerybeat.service uwsgi.service nginx.service redis-server.service
After=celeryd.service celerybeat.service uwsgi.service nginx.service redis-server.service

[Service]
Type=simple
ExecStart=/usr/sbin/service uwsgi start && /usr/sbin/service celerybeat start

ExecStop=/usr/sbin/service uwsgi stop && \
         /bin/systemctl stop nginx && \
         /bin/systemctl stop celeryd && \
         /usr/sbin/service celerybeat stop && \
         /bin/systemctl stop redis-server

ExecReload=/usr/sbin/service uwsgi restart && /bin/systemctl stop nginx

[Install]
WantedBy=multi-user.target
