[Unit]
Description=The workflow associated with running atmosphere as a service
Documentation=https://github.com/cyverse/atmosphere/blob/master/README.md
Requires=celeryd.service flower.service celerybeat.service uwsgi.service nginx.service redis-server.service
After=celeryd.service flower.service celerybeat.service uwsgi.service nginx.service redis-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStop=/bin/systemctl stop uwsgi nginx redis-server celeryd celerybeat flower

[Install]
WantedBy=multi-user.target
