[Unit]
Description=CyVerse Atmosphere Full: celery, celerybeat, uwsgi, nginx
Documentation=https://github.com/cyverse/atmosphere/blob/master/README.md
Wants=redis-server.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/systemctl start uwsgi nginx celeryd celerybeat flower
ExecStop=/bin/systemctl stop uwsgi nginx celeryd celerybeat flower
ExecReload=/bin/systemctl restart uwsgi nginx celeryd celerybeat flower

[Install]
WantedBy=multi-user.target
