[Unit]
Description=Flower Service
Requires=network.target
After=network.target

[Service]
Type=forking
User=root
Group=root
EnvironmentFile=/etc/default/celeryd
WorkingDirectory=/opt/dev/atmosphere
ExecStart=/bin/sh -c '. /etc/default/celeryd; \
  ${FLOWER_BIN} ${CELERY_FLOWER_OPTS} &'
ExecStop=/usr/bin/pkill flower

[Install]
WantedBy=multi-user.target
