[Unit]
Description=uWSGI
After=syslog.target

[Service]
Type=forking
User=www-data
Group=www-data
Environment="UWSGI_DEB_CONFNAMESPACE=app"
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/run/uwsgi/app/atmosphere
ExecStartPre=/bin/mkdir -p /var/run/uwsgi/app/troposphere
ExecStartPre=/bin/chown -R www-data:www-data /var/run/uwsgi
ExecStartPre=/bin/mkdir -p /var/log/uwsgi/app
ExecStartPre=/bin/chown -R www-data:www-data /var/log/uwsgi
ExecStart=/bin/sh -c 'UWSGI_DEB_CONFNAME=atmosphere \
  {{ UWSGI_BIN }}                        \
  --ini /usr/share/uwsgi/conf/default.ini        \
  --ini /etc/uwsgi/apps-enabled/atmosphere.ini   \
  --daemonize /var/log/uwsgi/app/atmosphere.log; \
  UWSGI_DEB_CONFNAME=troposphere                 \
  {{ UWSGI_BIN }}                        \
  --ini /usr/share/uwsgi/conf/default.ini        \
  --ini /etc/uwsgi/apps-enabled/troposphere.ini  \
  --daemonize /var/log/uwsgi/app/troposphere.log'
ExecStop={{ UWSGI_BIN }} --stop /var/run/uwsgi/app/atmosphere/pid
ExecStop={{ UWSGI_BIN }} --stop /var/run/uwsgi/app/troposphere/pid

[Install]
WantedBy=multi-user.target
