# From https://uwsgi-docs.readthedocs.io/en/latest/Systemd.html
[Unit]
Description=uWSGI
After=syslog.target

[Service]
Type=oneshot
User=www-data
Group=www-data
ExecStart=/usr/bin/uwsgi --ini /usr/share/uwsgi/conf/default.ini --ini /etc/uwsgi/apps-enabled/atmosphere.ini --daemonize /var/log/uwsgi/app/atmosphere.log
ExecStart=/usr/bin/uwsgi --ini /usr/share/uwsgi/conf/default.ini --ini /etc/uwsgi/apps-enabled/troposphere.ini --daemonize /var/log/uwsgi/app/troposphere.log

[Install]
WantedBy=multi-user.target
