<div id="volume_header" class="row">
    <div class="col-sm-12">
    <h1>My Volumes
        <a class="context-helper" id="help_my_volumes"><i class="glyphicon glyphicon-question-sign"></i></a>
		<div style="float: right; display: none">
			<a class="context-helper" id="backup_volume_btn"><i class="glyphicon glyphicon-upload"></i> Backup Volume</a>
			<a class="context-helper" id="restore_volume_btn"><i class="glyphicon glyphicon-download"></i> Restore Volume</a>
		</div>
    </h1>
    </div>
</div>

<div id="volume_controls"></div>


<!--<div class="btn-group">
	<button class="btn" id="report_broken_volume_btn"><i class="icon-inbox"></i> Report Broken Volume</button>
	<button class="btn" id="backup_volume_btn"><i class="icon-upload"></i> Backup Volume</button>
	<button class="btn" id="restore_volume_btn"><i class="icon-download"></i> Restore Volume</button>
</div>-->

<hr />

<div class="row hidden-phone">
    <div class="col-sm-5">
	
		<h2>Available Volumes
			<a class="context-helper" id="help_available_volumes"><i class="glyphicon glyphicon-question-sign"></i></a>
			<a class="context-helper" id="report_broken_volume_btn"><i class="glyphicon glyphicon-inbox"></i> Report Broken Volume</a>


			<!--<a class="context-helper" id="report_broken_volume_btn"><i class="glyphicon glyphicon-share"></i> Report</a>
			<a class="context-helper" id="backup_volume_btn"><i class="glyphicon glyphicon-download-alt"></i> Backup/Restore</a>-->
	   </h2>
	</div>
    <div class="col-sm-2" id="volume_transfer_info">Drag to<br />Attach/Detach</div>
    <div class="col-sm-5">
        <h2>Running Instances
        </h2>
    </div>
</div>


<div class="row hidden-phone" id="draggable_container">

	<div class="col-sm-5" id="draggable_volumes"></div>
	<div class="col-sm-2">&nbsp;</div>
	<div class="col-sm-5" id="draggable_instances"></div>
</div>	


<div id="backup_modal" class="modal fade"></div>
<div id="restore_modal" class="modal fade"></div>
<div id="report_modal" class="modal fade"></div>
