<div id="volume_header" class="row-fluid">
    <h1>My Volumes
        <a class="context-helper" id="help_my_volumes"><i class="icon-question-sign"></i></a>
    </h1>
</div>

<div id="volume_controls"></div>

<hr />

<div class="row-fluid hidden-phone">
    <div class="span4"><h2>Available Volumes
        <a class="context-helper" id="help_available_volumes"><i class="icon-question-sign"></i></a>
        <a class="context-helper" id="report_broken_volume_btn"><i class="icon-share"></i> Report Volume</a>
    </h2></div>
    <div class="span2" id="volume_transfer_info">Drag to<br />Attach/Detach</div>
    <div class="span6">
        <h2>Running Instances
        </h2>
    </div>
</div>


<div class="row-fluid hidden-phone" id="draggable_container">

	<div class="span4" id="draggable_volumes"></div>
	<div class="span2">&nbsp;</div>
	<div class="span6" id="draggable_instances"></div>
</div>	


