upstream atmosphere {
    server unix:///tmp/atmosphere.sock;
}

upstream troposphere {
    server unix:///tmp/troposphere.sock;
}

upstream flower {
    server @SERVER_URL:8443;
}

upstream jenkins {
    server @SERVER_URL:8080 fail_timeout=0;
}

upstream leaderboard {
    server @LEADERBOARD_URL;
}

server {
    listen 80;
    server_name @SERVER_URL;
    rewrite ^ https://$server_name$request_uri? permanent;
}

server {
    listen   443;

    server_name @SERVER_URL;
    charset utf-8;

    ssl    on;
    ssl_certificate @COMBINED_CERT_PATH;
    ssl_certificate_key @KEY_PATH;

    ssl_ciphers 'AES128+EECDH:AES128+EDH';

    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_session_cache shared:SSL:10m;

    # Cache OSCP protects against DoS attacks
    ssl_stapling on;
    ssl_stapling_verify on;
    resolver 8.8.4.4 8.8.8.8 valid=300s;
    resolver_timeout 10s;

    ssl_prefer_server_ciphers on;
    ssl_dhparam @DHPARAM;

    add_header Strict-Transport-Security max-age=63072000;
    add_header X-Frame-Options DENY;
    add_header X-Content-Type-Options nosniff;

    location /favicon.ico {
	alias @ATMOSPHERE_PATH/static/images/favicon.ico;
    }

    location /robots.txt {
	alias @ATMOSPHERE_PATH/static/templates/robots.txt;
    }

    location /init_files {
	alias @ATMOSPHERE_PATH/init_files;
    }

    location /resources {
	alias @ATMOSPHERE_PATH/resources;
    }

    location /assets {
	alias @TROPOSPHERE_PATH/troposphere/assets;
    }

    location /static {
	alias @ATMOSPHERE_PATH/static;
    }

    location /jenkins {
	proxy_pass http://jenkins;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /flower {
	rewrite ^/flower/?(.*)$ /$1 break;

	proxy_pass $scheme://flower;
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

	# web socket support
	proxy_http_version 1.1;
	proxy_set_header Upgrade $http_upgrade;
	proxy_set_header Connection "upgrade";
    }

    location ~^/(application|maintenance|login|logout|forbidden|version|cf2) {
	proxy_set_header Host $host;
	proxy_set_header X-Real-IP $remote_addr;
	uwsgi_pass troposphere;
	include /etc/nginx/uwsgi_params;
    }

    location ~^/cas/(oauth2.0|service) {
	uwsgi_pass troposphere;
	include /etc/nginx/uwsgi_params;
    }

    location ~^/api/(leaderboard|metrics) {
	proxy_pass http://leaderboard;
    }

    location / {
	# Redirect to home page
	if ($request_uri ~ "^/$") {
	   return 301 https://$host/application;
	}

	uwsgi_pass atmosphere;
	include /etc/nginx/uwsgi_params;
    }
}
